# Predicting Diabetes

Per [the Mayo Clinic](https://www.mayoclinic.org/diseases-conditions/diabetes/diagnosis-treatment/drc-20371451#:~:text=A%20fasting%20blood%20sugar%20level,separate%20tests%2C%20you%20have%20diabetes.), the Glycated Hemoglobin (A1C) test indicates a person's average blood sugar level for the past two to three months. It measures the percentage of blood sugar attached to hemoglobin, the oxygen-carrying protein in red blood cells. This test is a blood test which does not require fasting.

The higher your blood sugar levels, the more hemoglobin you'll have with sugar attached. 
* A1C level of 6.5% or higher on two separate tests indicates that you have diabetes
* A1C between 5.7 and 6.4 % indicates prediabetes
* A1C below 5.7 is considered normal

In [1]:
import pandas as pd
pd.set_option('display.max_columns', 0)
import numpy as np

# styling notebook
from IPython.core.display import HTML
def css_styling():
    styles = open("./styles/custom.css", "r").read()
    return HTML(styles)
css_styling()

## Data Source

### National Health and Nutrition Examination Survey (NHANES)

The [National Health and Nutrition Examination Survey (NHANES)](https://www.cdc.gov/nchs/nhanes/about_nhanes.htm) is a program of continuous studies designed to assess the health and nutritional status of adults and children in the United States. The survey examines a nationally representative sample of about 5,000 persons located across the country each year. The survey is unique in that it combines interviews and physical examinations. The NHANES interview includes demographic, socioeconomic, dietary, and health-related questions. The examination component consists of medical, dental, and physiological measurements, as well as laboratory tests administered by highly trained medical personnel.

NHANES is a major program of the National Center for Health Statistics (NCHS). NCHS is part of the Centers for Disease Control and Prevention (CDC) and has the responsibility for producing vital and health statistics for the Nation.

### Subset for Predicting Diabetes

While NHANES collects a wealth of demographic, laboratory, and medical data, this analysis and predictive model uses a subset comprised of:

* Demographics - collected by trained interviewers using Computer-Assisted Personal Interview (CAPI) system in either English or Spanish, sometimes with assistance from an interpreter. Individuals 16 years and older and emancipated minors were interviewed directly; a proxy provided information for survey participants who were under 16 and for participants who could not answer the questions themselves.

* Body Measures - measured by trained health technicians in the Mobile Examination Center (MEC). 

* Smoking Survey

* Physical Activity Survey

* Blood Pressure

* Total Cholesterol

* A1C

* Insulin

In [13]:
demographic = pd.read_sas('./data/NHANES2017-2018_demographic.xpt')
activity = pd.read_sas('./data/NHANES2017-2018_physical_activity.xpt')
smoking = pd.read_sas('./data/NHANES2017-2018_smoking.xpt')

a1c = pd.read_sas('./data/NHANES2017-2018_a1c.xpt')
bp1 = pd.read_sas('./data/NHANES2017-2018_blood_pressure.xpt')
bp2 = pd.read_sas('./data/NHANES2017-2018_blood_pressure_oscillometric.xpt')
chol = pd.read_sas('./data/NHANES2017-2018_total_cholesterol.xpt')
insulin = pd.read_sas('./data/NHANES2017-2018_insulin.xpt')
measures = pd.read_sas('./data/NHANES2017-2018_body_measures.xpt')

In [14]:
data = [demographic, a1c, bp1, bp2, measures, insulin, activity, chol, smoking]

In [15]:
for f in data:
    f.SEQN = f.SEQN.map(lambda x: int(x))
    f.set_index('SEQN', inplace=True)
    display(f.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9254 entries, 93703 to 102956
Data columns (total 45 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   SDDSRVYR  9254 non-null   float64
 1   RIDSTATR  9254 non-null   float64
 2   RIAGENDR  9254 non-null   float64
 3   RIDAGEYR  9254 non-null   float64
 4   RIDAGEMN  597 non-null    float64
 5   RIDRETH1  9254 non-null   float64
 6   RIDRETH3  9254 non-null   float64
 7   RIDEXMON  8704 non-null   float64
 8   RIDEXAGM  3433 non-null   float64
 9   DMQMILIZ  6004 non-null   float64
 10  DMQADFC   561 non-null    float64
 11  DMDBORN4  9254 non-null   float64
 12  DMDCITZN  9251 non-null   float64
 13  DMDYRSUS  1948 non-null   float64
 14  DMDEDUC3  2306 non-null   float64
 15  DMDEDUC2  5569 non-null   float64
 16  DMDMARTL  5569 non-null   float64
 17  RIDEXPRG  1110 non-null   float64
 18  SIALANG   9254 non-null   float64
 19  SIAPROXY  9254 non-null   float64
 20  SIAINTRP  9254 non-null   float64
 21  FIALANG   8780 non-null   float64
 22  FIAPROXY  8780 non-null   float64
 23  FIAINTRP  8780 non-null   float64
 24  MIALANG   6684 non-null   float64
 25  MIAPROXY  6684 non-null   float64
 26  MIAINTRP  6684 non-null   float64
 27  AIALANGA  4977 non-null   float64
 28  DMDHHSIZ  9254 non-null   float64
 29  DMDFMSIZ  9254 non-null   float64
 30  DMDHHSZA  9254 non-null   float64
 31  DMDHHSZB  9254 non-null   float64
 32  DMDHHSZE  9254 non-null   float64
 33  DMDHRGND  9254 non-null   float64
 34  DMDHRAGZ  9254 non-null   float64
 35  DMDHREDZ  8764 non-null   float64
 36  DMDHRMAZ  9063 non-null   float64
 37  DMDHSEDZ  4751 non-null   float64
 38  WTINT2YR  9254 non-null   float64
 39  WTMEC2YR  9254 non-null   float64
 40  SDMVPSU   9254 non-null   float64
 41  SDMVSTRA  9254 non-null   float64
 42  INDHHIN2  8763 non-null   float64
 43  INDFMIN2  8780 non-null   float64
 44  INDFMPIR  8023 non-null   float64
dtypes: float64(45)
memory usage: 3.2 MB

None

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6401 entries, 93705 to 102956
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   LBXGH   6045 non-null   float64
dtypes: float64(1)
memory usage: 100.0 KB

None

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8704 entries, 93703 to 102956
Data columns (total 20 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   PEASCCT1  444 non-null    float64
 1   BPXCHR    1539 non-null   float64
 2   BPAARM    6817 non-null   float64
 3   BPACSZ    6812 non-null   float64
 4   BPXPLS    6742 non-null   float64
 5   BPXPULS   8281 non-null   float64
 6   BPXPTY    6742 non-null   float64
 7   BPXML1    6731 non-null   float64
 8   BPXSY1    6302 non-null   float64
 9   BPXDI1    6302 non-null   float64
 10  BPAEN1    6302 non-null   float64
 11  BPXSY2    6563 non-null   float64
 12  BPXDI2    6563 non-null   float64
 13  BPAEN2    6563 non-null   float64
 14  BPXSY3    6538 non-null   float64
 15  BPXDI3    6538 non-null   float64
 16  BPAEN3    6538 non-null   float64
 17  BPXSY4    556 non-null    float64
 18  BPXDI4    556 non-null    float64
 19  BPAEN4    556 non-null    float64
dtypes: float64(20)
memory usage: 1.4 MB

None

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7132 entries, 93705 to 102956
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   BPAOARM   7132 non-null   object
 1   BPAOCSZ   6144 non-null   float64
 2   BPAOMNTS  6144 non-null   float64
 3   BPXOSY1   6143 non-null   float64
 4   BPXODI1   6143 non-null   float64
 5   BPXOSY2   6123 non-null   float64
 6   BPXODI2   6123 non-null   float64
 7   BPXOSY3   6094 non-null   float64
 8   BPXODI3   6094 non-null   float64
 9   BPXOPLS1  5262 non-null   float64
 10  BPXOPLS2  5244 non-null   float64
 11  BPXOPLS3  5220 non-null   float64
dtypes: float64(11), object(1)
memory usage: 724.3+ KB

None

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8704 entries, 93703 to 102956
Data columns (total 20 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   BMDSTATS  8704 non-null   float64
 1   BMXWT     8580 non-null   float64
 2   BMIWT     416 non-null    float64
 3   BMXRECUM  894 non-null    float64
 4   BMIRECUM  24 non-null     float64
 5   BMXHEAD   194 non-null    float64
 6   BMIHEAD   0 non-null      float64
 7   BMXHT     8016 non-null   float64
 8   BMIHT     99 non-null     float64
 9   BMXBMI    8005 non-null   float64
 10  BMXLEG    6703 non-null   float64
 11  BMILEG    334 non-null    float64
 12  BMXARML   8177 non-null   float64
 13  BMIARML   347 non-null    float64
 14  BMXARMC   8173 non-null   float64
 15  BMIARMC   350 non-null    float64
 16  BMXWAIST  7601 non-null   float64
 17  BMIWAIST  437 non-null    float64
 18  BMXHIP    6039 non-null   float64
 19  BMIHIP    270 non-null    float64
dtypes: float64(20)
memory usage: 1.4 MB

None

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3036 entries, 93708 to 102956
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   WTSAF2YR  3036 non-null   float64
 1   LBXIN     2825 non-null   float64
 2   LBDINSI   2825 non-null   float64
 3   LBDINLC   2825 non-null   float64
dtypes: float64(4)
memory usage: 118.6 KB

None

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5856 entries, 93705 to 102956
Data columns (total 16 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   PAQ605  5856 non-null   float64
 1   PAQ610  1389 non-null   float64
 2   PAD615  1381 non-null   float64
 3   PAQ620  5856 non-null   float64
 4   PAQ625  2439 non-null   float64
 5   PAD630  2426 non-null   float64
 6   PAQ635  5856 non-null   float64
 7   PAQ640  1439 non-null   float64
 8   PAD645  1430 non-null   float64
 9   PAQ650  5856 non-null   float64
 10  PAQ655  1434 non-null   float64
 11  PAD660  1431 non-null   float64
 12  PAQ665  5856 non-null   float64
 13  PAQ670  2308 non-null   float64
 14  PAD675  2301 non-null   float64
 15  PAD680  5846 non-null   float64
dtypes: float64(16)
memory usage: 777.8 KB

None

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7435 entries, 93705 to 102956
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   LBXTC    6738 non-null   float64
 1   LBDTCSI  6738 non-null   float64
dtypes: float64(2)
memory usage: 174.3 KB

None

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6724 entries, 93705 to 102956
Data columns (total 36 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   SMQ020    5856 non-null   float64
 1   SMD030    2359 non-null   float64
 2   SMQ040    2359 non-null   float64
 3   SMQ050Q   1338 non-null   float64
 4   SMQ050U   1255 non-null   float64
 5   SMD057    1338 non-null   float64
 6   SMQ078    793 non-null    float64
 7   SMD641    1063 non-null   float64
 8   SMD650    1022 non-null   float64
 9   SMD093    1021 non-null   float64
 10  SMDUPCA   6724 non-null   object
 11  SMD100BR  6724 non-null   object
 12  SMD100FL  929 non-null    float64
 13  SMD100MN  929 non-null    float64
 14  SMD100LN  929 non-null    float64
 15  SMD100TR  695 non-null    float64
 16  SMD100NI  695 non-null    float64
 17  SMD100CO  695 non-null    float64
 18  SMQ621    821 non-null    float64
 19  SMD630    42 non-null     float64
 20  SMQ661    14 non-null     float64
 21  SMQ665A   3 non-null      float64
 22  SMQ665B   1 non-null      float64
 23  SMQ665C   4 non-null      float64
 24  SMQ665D   2 non-null      float64
 25  SMQ670    1035 non-null   float64
 26  SMQ848    528 non-null    float64
 27  SMQ852Q   522 non-null    float64
 28  SMQ852U   519 non-null    float64
 29  SMQ890    5856 non-null   float64
 30  SMQ895    2095 non-null   float64
 31  SMQ900    5856 non-null   float64
 32  SMQ905    1150 non-null   float64
 33  SMQ910    5856 non-null   float64
 34  SMQ915    861 non-null    float64
 35  SMAQUEX2  6724 non-null   float64
dtypes: float64(34), object(2)
memory usage: 1.9+ MB

None

#### Demographics ([source](https://wwwn.cdc.gov/Nchs/Nhanes/2017-2018/DEMO_J.htm))

Comprised of individual, family, and household-level information.

In [22]:
demographic.describe().round(1)

       SDDSRVYR  RIDSTATR  RIAGENDR  ...  INDHHIN2  INDFMIN2  INDFMPIR
count    9254.0    9254.0    9254.0  ...    8763.0    8780.0    8023.0
mean       10.0       1.9       1.5  ...      12.5      12.2       2.4
std         0.0       0.2       0.5  ...      17.3      17.2       1.6
min        10.0       1.0       1.0  ...       1.0       1.0       0.0
25%        10.0       2.0       1.0  ...       6.0       6.0       1.0
50%        10.0       2.0       2.0  ...       8.0       8.0       1.9
75%        10.0       2.0       2.0  ...      14.0      14.0       3.7
max        10.0       2.0       2.0  ...      99.0      99.0       5.0

[8 rows x 45 columns]

In [18]:
demographic.columns

Index(['SDDSRVYR', 'RIDSTATR', 'RIAGENDR', 'RIDAGEYR', 'RIDAGEMN', 'RIDRETH1',
       'RIDRETH3', 'RIDEXMON', 'RIDEXAGM', 'DMQMILIZ', 'DMQADFC', 'DMDBORN4',
       'DMDCITZN', 'DMDYRSUS', 'DMDEDUC3', 'DMDEDUC2', 'DMDMARTL', 'RIDEXPRG',
       'SIALANG', 'SIAPROXY', 'SIAINTRP', 'FIALANG', 'FIAPROXY', 'FIAINTRP',
       'MIALANG', 'MIAPROXY', 'MIAINTRP', 'AIALANGA', 'DMDHHSIZ', 'DMDFMSIZ',
       'DMDHHSZA', 'DMDHHSZB', 'DMDHHSZE', 'DMDHRGND', 'DMDHRAGZ', 'DMDHREDZ',
       'DMDHRMAZ', 'DMDHSEDZ', 'WTINT2YR', 'WTMEC2YR', 'SDMVPSU', 'SDMVSTRA',
       'INDHHIN2', 'INDFMIN2', 'INDFMPIR'],
      dtype='object')

In [27]:
keepcols_demographic = ['RIAGENDR', 'RIDAGEYR', 'RIDRETH3', 'DMQMILIZ', 'DMDBORN4', 'DMDCITZN',
                    'DMDEDUC2', 'DMDMARTL', 'RIDEXPRG', 'INDHHIN2', 'INDFMIN2', 'INDFMPIR']

In [29]:
keep_demographic = demographic[keepcols_demographic]
keep_demographic.rename(mapper={'RIAGENDR': 'gender',
                                'RIDAGEYR': 'age',
                                'RIDRETH3': 'race',
                                'DMQMILIZ': 'veteran_status',
                                'DMDBORN4': 'country_of_birth',
                                'DMDCITZN': 'citizen_status',
                                'DMDEDUC2': 'education',
                                'DMDMARTL': 'marital_status',
                                'RIDEXPRG': 'pregnancy_status',
                                'INDHHIN2': 'annual_household_income',
                                'INDFMIN2': 'annual_family_income',
                                'INDFMPIR': 'income_poverty_ratio'}, 
                       axis=1, inplace=True)
keep_demographic

/Users/kristincooper/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/pandas/core/frame.py:4296: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

        gender   age  ...  annual_family_income  income_poverty_ratio
SEQN                  ...
93703      2.0   2.0  ...                  15.0                  5.00
93704      1.0   2.0  ...                  15.0                  5.00
93705      2.0  66.0  ...                   3.0                  0.82
93706      1.0  18.0  ...                   NaN                   NaN
93707      1.0  13.0  ...                  10.0                  1.88
...        ...   ...  ...                   ...                   ...
102952     2.0  70.0  ...                   4.0                  0.95
102953     1.0  42.0  ...                  12.0                   NaN
102954     2.0  41.0  ...                  10.0                  1.18
102955     2.0  14.0  ...                   9.0                  2.24
102956     1.0  38.0  ...                   7.0                  1.56

[9254 rows x 12 columns]

In [30]:
keep_demographic.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9254 entries, 93703 to 102956
Data columns (total 12 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   gender                   9254 non-null   float64
 1   age                      9254 non-null   float64
 2   race                     9254 non-null   float64
 3   veteran_status           6004 non-null   float64
 4   country_of_birth         9254 non-null   float64
 5   citizen_status           9251 non-null   float64
 6   education                5569 non-null   float64
 7   marital_status           5569 non-null   float64
 8   pregnancy_status         1110 non-null   float64
 9   annual_household_income  8763 non-null   float64
 10  annual_family_income     8780 non-null   float64
 11  income_poverty_ratio     8023 non-null   float64
dtypes: float64(12)
memory usage: 939.9 KB

Notes:
* Age 
    * Individuals aged 80 and over are topcoded at 80. In NHANES 2017-2018, the weighted mean age for participants 80+ is 85
    * Individuals' ages are reported in months for those 24 months (2 yrs) and younger
* Income-Poverty Ratio - calculated by dividing family (or individual) income by the poverty guidelines specific to the survey year. The value was not computed if the respondent only reported income as < $20,000 or ≥ $20,000. If family income was reported as a more detailed category, the midpoint of the range was used to compute the ratio. Values at or above 5.00 were coded as 5.00 or more because of disclosure concerns. The values were not computed if the income data was missing.

#### Body Measures

In [32]:
measures

        BMDSTATS  BMXWT  BMIWT  BMXRECUM  ...  BMXWAIST  BMIWAIST  BMXHIP  BMIHIP
SEQN                                      ...
93703        1.0   13.7    3.0      89.6  ...      48.2       NaN     NaN     NaN
93704        1.0   13.9    NaN      95.0  ...      50.0       NaN     NaN     NaN
93705        1.0   79.5    NaN       NaN  ...     101.8       NaN   110.0     NaN
93706        1.0   66.3    NaN       NaN  ...      79.3       NaN    94.4     NaN
93707        1.0   45.4    NaN       NaN  ...      64.1       NaN    83.0     NaN
...          ...    ...    ...       ...  ...       ...       ...     ...     ...
102952       1.0   49.0    NaN       NaN  ...      82.2       NaN    87.3     NaN
102953       1.0   97.4    NaN       NaN  ...     114.8       NaN   112.8     NaN
102954       1.0   69.1    NaN       NaN  ...      86.4       NaN   102.7     NaN
102955       1.0  111.9    NaN       NaN  ...     113.5       NaN   128.3     NaN
102956       1.0  111.5    NaN       NaN  ...     122.0       NaN   110.0     NaN

[8704 rows x 20 columns]

In [33]:
measures.columns

Index(['BMDSTATS', 'BMXWT', 'BMIWT', 'BMXRECUM', 'BMIRECUM', 'BMXHEAD',
       'BMIHEAD', 'BMXHT', 'BMIHT', 'BMXBMI', 'BMXLEG', 'BMILEG', 'BMXARML',
       'BMIARML', 'BMXARMC', 'BMIARMC', 'BMXWAIST', 'BMIWAIST', 'BMXHIP',
       'BMIHIP'],
      dtype='object')

In [34]:
keepcols_measures = ['BMXWT', 'BMXHEAD', 'BMXHT', 'BMXBMI', 'BMXLEG', 'BMXARML', 
                     'BMXARMC', 'BMXWAIST', 'BMXHIP']

In [35]:
keep_measures = measures[keepcols_measures]
keep_measures.rename(mapper={'BMXWT': 'weight_kg', 
                             'BMXHEAD': 'head_circumference_cm',
                             'BMXHT': 'height_cm',
                             'BMXBMI': 'BMI',
                             'BMXLEG': 'leg_length_cm',
                             'BMXARML': 'arm_length_cm', 
                             'BMXARMC': 'arm_circumference_cm',
                             'BMXWAIST': 'waist_circumference_cm',
                             'BMXHIP': 'hip_circumference_cm'},
                    axis=1, inplace=True)
keep_measures

/Users/kristincooper/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/pandas/core/frame.py:4296: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

        weight_kg  ...  hip_circumference_cm
SEQN               ...
93703        13.7  ...                   NaN
93704        13.9  ...                   NaN
93705        79.5  ...                 110.0
93706        66.3  ...                  94.4
93707        45.4  ...                  83.0
...           ...  ...                   ...
102952       49.0  ...                  87.3
102953       97.4  ...                 112.8
102954       69.1  ...                 102.7
102955      111.9  ...                 128.3
102956      111.5  ...                 110.0

[8704 rows x 9 columns]

#### Blood Pressure

#### Lab - A1C

#### Lab - Cholesterol

#### Lab - Insulin

#### Survey - Physical Activity

#### Survey - Smoking

## Preprocessing

NOTES TO SELF:
* Focus on adults; remove ages below 18 from dataset
* Remove pregnant women from dataset as their measurements may be skewed

# divider

In [ ]:
merged = pd.merge(a1c, demo, how='left', on='SEQN')
merged

In [ ]:
merged.LBXGH.isna().sum()

In [ ]:
merged.LBXGH.dropna(inplace=True)

In [ ]:
merged.LBXGH.describe().round(1)

In [ ]:
def diagnose(a1c_value):
    diagnosis = None
    if a1c_value >= 6.5:
        diagnosis = 'Diabetic'
    if (a1c_value >= 5.7) & (a1c_value < 6.5):
        diagnosis = 'Prediabetic'
    if a1c_value < 5.7:
        diagnosis = 'Normal'
    return diagnosis

In [ ]:
diagnose(merged.LBXGH[50])

In [ ]:
merged['calc_diagnosis'] = merged.LBXGH.map(lambda x: diagnose(x))
merged

In [ ]:
merged.calc_diagnosis.value_counts()

In [ ]:
merged.SEQN = merged.SEQN.map(lambda x: int(x))
merged