# Predicting Diabetes Diagnosis

Per [the Mayo Clinic](https://www.mayoclinic.org/diseases-conditions/diabetes/diagnosis-treatment/drc-20371451#:~:text=A%20fasting%20blood%20sugar%20level,separate%20tests%2C%20you%20have%20diabetes.), the Glycated Hemoglobin (A1C) test indicates a person's average blood sugar level for the past two to three months. It measures the percentage of blood sugar attached to hemoglobin, the oxygen-carrying protein in red blood cells. This test is a blood test which does not require fasting.

The higher your blood sugar levels, the more hemoglobin you'll have with sugar attached. 
* A1C level of 6.5% or higher on two separate tests indicates that you have diabetes
* A1C between 5.7 and 6.4 % indicates prediabetes
* A1C below 5.7 is considered normal

# Data Source

## National Health and Nutrition Examination Survey (NHANES)

The [National Health and Nutrition Examination Survey (NHANES)](https://www.cdc.gov/nchs/nhanes/about_nhanes.htm) is a program of continuous studies designed to assess the health and nutritional status of adults and children in the United States. The survey examines a nationally representative sample of about 5,000 persons located across the country each year. The survey is unique in that it combines interviews and physical examinations. The NHANES interview includes demographic, socioeconomic, dietary, and health-related questions. The examination component consists of medical, dental, and physiological measurements, as well as laboratory tests administered by highly trained medical personnel.

NHANES is a major program of the National Center for Health Statistics (NCHS). NCHS is part of the Centers for Disease Control and Prevention (CDC) and has the responsibility for producing vital and health statistics for the Nation.

## Subset for Predicting Diabetes

While NHANES collects a wealth of demographic, laboratory, and medical data, this analysis and predictive model uses a subset comprised of:

* Demographics - collected by trained interviewers using Computer-Assisted Personal Interview (CAPI) system in either English or Spanish, sometimes with assistance from an interpreter. Individuals 16 years and older and emancipated minors were interviewed directly; a proxy provided information for survey participants who were under 16 and for participants who could not answer the questions themselves.

* Body Measures - measured by trained health technicians in the Mobile Examination Center (MEC). 

* Smoking Survey

* Physical Activity Survey

* Blood Pressure

* Total Cholesterol

* A1C

* Insulin

In [1]:
import pandas as pd
pd.set_option('display.max_columns', 0)
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

# styling notebook
from IPython.core.display import HTML
def css_styling():
    styles = open("./styles/custom.css", "r").read()
    return HTML(styles)
css_styling()

In [12]:
demographic = pd.read_sas('./data/NHANES2017-2018_demographic.xpt')
insurance = pd.read_sas('./data/NHANES2017-2018_insurance.xpt')
measures = pd.read_sas('./data/NHANES2017-2018_body_measures.xpt')
activity = pd.read_sas('./data/NHANES2017-2018_physical_activity.xpt')
smoking = pd.read_sas('./data/NHANES2017-2018_smoking.xpt')

a1c = pd.read_sas('./data/NHANES2017-2018_a1c.xpt')

# Datasets considered, but not used for this model
# bp = pd.read_sas('./data/NHANES2017-2018_blood_pressure_oscillometric.xpt')
# chol_total = pd.read_sas('./data/NHANES2017-2018_total_cholesterol.xpt')
# chol_hdl = pd.read_sas('./data/NHANES2017-2018_hdl_cholesterol.xpt')
# chol_ldl = pd.read_sas('./data/NHANES2017-2018_ldl_cholesterol.xpt')
# insulin = pd.read_sas('./data/NHANES2017-2018_insulin.xpt')

In [13]:
data = [a1c, demographic, insurance, measures, activity, smoking]

In [14]:
for f in data:
    f.SEQN = f.SEQN.map(lambda x: int(x))
    f.set_index('SEQN', inplace=True)
    display(f.info())
    print('*****'*15)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6401 entries, 93705 to 102956
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   LBXGH   6045 non-null   float64
dtypes: float64(1)
memory usage: 100.0 KB

None

***************************************************************************
<class 'pandas.core.frame.DataFrame'>
Int64Index: 9254 entries, 93703 to 102956
Data columns (total 45 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   SDDSRVYR  9254 non-null   float64
 1   RIDSTATR  9254 non-null   float64
 2   RIAGENDR  9254 non-null   float64
 3   RIDAGEYR  9254 non-null   float64
 4   RIDAGEMN  597 non-null    float64
 5   RIDRETH1  9254 non-null   float64
 6   RIDRETH3  9254 non-null   float64
 7   RIDEXMON  8704 non-null   float64
 8   RIDEXAGM  3433 non-null   float64
 9   DMQMILIZ  6004 non-null   float64
 10  DMQADFC   561 non-null    float64
 11  DMDBORN4  9254 non-null   float64
 12  DMDCITZN  9251 non-null   float64
 13  DMDYRSUS  1948 non-null   float64
 14  DMDEDUC3  2306 non-null   float64
 15  DMDEDUC2  5569 non-null   float64
 16  DMDMARTL  5569 non-null   float64
 17  RIDEXPRG  1110 non-null   float64
 18  SIALANG   9254 non-null   float64
 19  SIAPROXY  9254 non-null   float64
 20  SIAINTRP  9254 non-null   float64
 21  FIALANG   8780 non-null   float64
 22  FIAPROXY  8780 non-null   float64
 23  FIAINTRP  8780 non-null   float64
 24  MIALANG   6684 non-null   float64
 25  MIAPROXY  6684 non-null   float64
 26  MIAINTRP  6684 non-null   float64
 27  AIALANGA  4977 non-null   float64
 28  DMDHHSIZ  9254 non-null   float64
 29  DMDFMSIZ  9254 non-null   float64
 30  DMDHHSZA  9254 non-null   float64
 31  DMDHHSZB  9254 non-null   float64
 32  DMDHHSZE  9254 non-null   float64
 33  DMDHRGND  9254 non-null   float64
 34  DMDHRAGZ  9254 non-null   float64
 35  DMDHREDZ  8764 non-null   float64
 36  DMDHRMAZ  9063 non-null   float64
 37  DMDHSEDZ  4751 non-null   float64
 38  WTINT2YR  9254 non-null   float64
 39  WTMEC2YR  9254 non-null   float64
 40  SDMVPSU   9254 non-null   float64
 41  SDMVSTRA  9254 non-null   float64
 42  INDHHIN2  8763 non-null   float64
 43  INDFMIN2  8780 non-null   float64
 44  INDFMPIR  8023 non-null   float64
dtypes: float64(45)
memory usage: 3.2 MB

None

***************************************************************************
<class 'pandas.core.frame.DataFrame'>
Int64Index: 9254 entries, 93703 to 102956
Data columns (total 15 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   HIQ011    9254 non-null   float64
 1   HIQ031A   4254 non-null   float64
 2   HIQ031B   1582 non-null   float64
 3   HIQ031C   58 non-null     float64
 4   HIQ031D   2527 non-null   float64
 5   HIQ031E   93 non-null     float64
 6   HIQ031F   295 non-null    float64
 7   HIQ031H   533 non-null    float64
 8   HIQ031I   301 non-null    float64
 9   HIQ031J   708 non-null    float64
 10  HIQ031AA  1 non-null      float64
 11  HIQ260    172 non-null    float64
 12  HIQ105    1141 non-null   float64
 13  HIQ270    8171 non-null   float64
 14  HIQ210    8171 non-null   float64
dtypes: float64(15)
memory usage: 1.1 MB

None

***************************************************************************
<class 'pandas.core.frame.DataFrame'>
Int64Index: 8704 entries, 93703 to 102956
Data columns (total 20 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   BMDSTATS  8704 non-null   float64
 1   BMXWT     8580 non-null   float64
 2   BMIWT     416 non-null    float64
 3   BMXRECUM  894 non-null    float64
 4   BMIRECUM  24 non-null     float64
 5   BMXHEAD   194 non-null    float64
 6   BMIHEAD   0 non-null      float64
 7   BMXHT     8016 non-null   float64
 8   BMIHT     99 non-null     float64
 9   BMXBMI    8005 non-null   float64
 10  BMXLEG    6703 non-null   float64
 11  BMILEG    334 non-null    float64
 12  BMXARML   8177 non-null   float64
 13  BMIARML   347 non-null    float64
 14  BMXARMC   8173 non-null   float64
 15  BMIARMC   350 non-null    float64
 16  BMXWAIST  7601 non-null   float64
 17  BMIWAIST  437 non-null    float64
 18  BMXHIP    6039 non-null   float64
 19  BMIHIP    270 non-null    float64
dtypes: float64(20)
memory usage: 1.4 MB

None

***************************************************************************
<class 'pandas.core.frame.DataFrame'>
Int64Index: 5856 entries, 93705 to 102956
Data columns (total 16 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   PAQ605  5856 non-null   float64
 1   PAQ610  1389 non-null   float64
 2   PAD615  1381 non-null   float64
 3   PAQ620  5856 non-null   float64
 4   PAQ625  2439 non-null   float64
 5   PAD630  2426 non-null   float64
 6   PAQ635  5856 non-null   float64
 7   PAQ640  1439 non-null   float64
 8   PAD645  1430 non-null   float64
 9   PAQ650  5856 non-null   float64
 10  PAQ655  1434 non-null   float64
 11  PAD660  1431 non-null   float64
 12  PAQ665  5856 non-null   float64
 13  PAQ670  2308 non-null   float64
 14  PAD675  2301 non-null   float64
 15  PAD680  5846 non-null   float64
dtypes: float64(16)
memory usage: 777.8 KB

None

***************************************************************************
<class 'pandas.core.frame.DataFrame'>
Int64Index: 6724 entries, 93705 to 102956
Data columns (total 36 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   SMQ020    5856 non-null   float64
 1   SMD030    2359 non-null   float64
 2   SMQ040    2359 non-null   float64
 3   SMQ050Q   1338 non-null   float64
 4   SMQ050U   1255 non-null   float64
 5   SMD057    1338 non-null   float64
 6   SMQ078    793 non-null    float64
 7   SMD641    1063 non-null   float64
 8   SMD650    1022 non-null   float64
 9   SMD093    1021 non-null   float64
 10  SMDUPCA   6724 non-null   object
 11  SMD100BR  6724 non-null   object
 12  SMD100FL  929 non-null    float64
 13  SMD100MN  929 non-null    float64
 14  SMD100LN  929 non-null    float64
 15  SMD100TR  695 non-null    float64
 16  SMD100NI  695 non-null    float64
 17  SMD100CO  695 non-null    float64
 18  SMQ621    821 non-null    float64
 19  SMD630    42 non-null     float64
 20  SMQ661    14 non-null     float64
 21  SMQ665A   3 non-null      float64
 22  SMQ665B   1 non-null      float64
 23  SMQ665C   4 non-null      float64
 24  SMQ665D   2 non-null      float64
 25  SMQ670    1035 non-null   float64
 26  SMQ848    528 non-null    float64
 27  SMQ852Q   522 non-null    float64
 28  SMQ852U   519 non-null    float64
 29  SMQ890    5856 non-null   float64
 30  SMQ895    2095 non-null   float64
 31  SMQ900    5856 non-null   float64
 32  SMQ905    1150 non-null   float64
 33  SMQ910    5856 non-null   float64
 34  SMQ915    861 non-null    float64
 35  SMAQUEX2  6724 non-null   float64
dtypes: float64(34), object(2)
memory usage: 1.9+ MB

None

***************************************************************************

### Demographics 

[View source for additional description and details](https://wwwn.cdc.gov/Nchs/Nhanes/2017-2018/DEMO_J.htm)

Comprised of individual, family, and household-level information.

In [15]:
demographic.describe().round(1)

       SDDSRVYR  RIDSTATR  RIAGENDR  ...  INDHHIN2  INDFMIN2  INDFMPIR
count    9254.0    9254.0    9254.0  ...    8763.0    8780.0    8023.0
mean       10.0       1.9       1.5  ...      12.5      12.2       2.4
std         0.0       0.2       0.5  ...      17.3      17.2       1.6
min        10.0       1.0       1.0  ...       1.0       1.0       0.0
25%        10.0       2.0       1.0  ...       6.0       6.0       1.0
50%        10.0       2.0       2.0  ...       8.0       8.0       1.9
75%        10.0       2.0       2.0  ...      14.0      14.0       3.7
max        10.0       2.0       2.0  ...      99.0      99.0       5.0

[8 rows x 45 columns]

In [24]:
demographic.columns

Index(['SDDSRVYR', 'RIDSTATR', 'RIAGENDR', 'RIDAGEYR', 'RIDAGEMN', 'RIDRETH1',
       'RIDRETH3', 'RIDEXMON', 'RIDEXAGM', 'DMQMILIZ', 'DMQADFC', 'DMDBORN4',
       'DMDCITZN', 'DMDYRSUS', 'DMDEDUC3', 'DMDEDUC2', 'DMDMARTL', 'RIDEXPRG',
       'SIALANG', 'SIAPROXY', 'SIAINTRP', 'FIALANG', 'FIAPROXY', 'FIAINTRP',
       'MIALANG', 'MIAPROXY', 'MIAINTRP', 'AIALANGA', 'DMDHHSIZ', 'DMDFMSIZ',
       'DMDHHSZA', 'DMDHHSZB', 'DMDHHSZE', 'DMDHRGND', 'DMDHRAGZ', 'DMDHREDZ',
       'DMDHRMAZ', 'DMDHSEDZ', 'WTINT2YR', 'WTMEC2YR', 'SDMVPSU', 'SDMVSTRA',
       'INDHHIN2', 'INDFMIN2', 'INDFMPIR'],
      dtype='object')

After reviewing the source documentation, I decided to keep only a handful of features that were easily interpretable and may be relevant to predicting diabetes/prediabetes.

In [71]:
keepcols_demographic = ['RIAGENDR', 'RIDAGEYR', 'RIDRETH3', 'DMQMILIZ', 'DMDBORN4', 'DMDCITZN',
                    'DMDEDUC2', 'DMDMARTL', 'RIDEXPRG', 'DMDHHSIZ', 'INDHHIN2', 'INDFMPIR']

In [72]:
keep_demographic = demographic.copy()[keepcols_demographic]
keep_demographic.rename(mapper={'RIAGENDR': 'gender',
                                'RIDAGEYR': 'age',
                                'RIDRETH3': 'race',
                                'DMQMILIZ': 'veteran_status',
                                'DMDBORN4': 'country_of_birth',
                                'DMDCITZN': 'citizen_status',
                                'DMDEDUC2': 'education',
                                'DMDMARTL': 'marital_status',
                                'RIDEXPRG': 'pregnancy_status',
                                'INDHHIN2': 'annual_household_income',
                                'INDFMPIR': 'income_poverty_ratio',
                                'DMDHHSIZ': 'household_size'}, 
                       axis=1, inplace=True)
keep_demographic.head()

       gender   age  ...  annual_household_income  income_poverty_ratio
SEQN                 ...
93703     2.0   2.0  ...                     15.0                  5.00
93704     1.0   2.0  ...                     15.0                  5.00
93705     2.0  66.0  ...                      3.0                  0.82
93706     1.0  18.0  ...                      NaN                   NaN
93707     1.0  13.0  ...                     10.0                  1.88

[5 rows x 12 columns]

In [73]:
keep_demographic.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9254 entries, 93703 to 102956
Data columns (total 12 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   gender                   9254 non-null   float64
 1   age                      9254 non-null   float64
 2   race                     9254 non-null   float64
 3   veteran_status           6004 non-null   float64
 4   country_of_birth         9254 non-null   float64
 5   citizen_status           9251 non-null   float64
 6   education                5569 non-null   float64
 7   marital_status           5569 non-null   float64
 8   pregnancy_status         1110 non-null   float64
 9   household_size           9254 non-null   float64
 10  annual_household_income  8763 non-null   float64
 11  income_poverty_ratio     8023 non-null   float64
dtypes: float64(12)
memory usage: 1.2 MB

Questionnaire responses are coded, which makes interpretation difficult. I spent some time exploring each feature, decoding values, and deciphering response options. 

As is typical for survey data, there are some filler responses such as "don't know" and "refused." I evaluated each of these and either filled them with the most likely response or created a "no_answer" category.

For some null values, there is a "default" assumption that is easy to make. For others, I will leave the value null for now and use an imputer later in the process to intelligently fill in values.

In [74]:
keep_demographic['gender'].value_counts(dropna=False)

2.0    4697
1.0    4557
Name: gender, dtype: int64

In [75]:
keep_demographic['gender'].replace({1.0: 'male', 2.0: 'female'}, inplace=True)

In [76]:
keep_demographic['gender'].value_counts(dropna=False)

female    4697
male      4557
Name: gender, dtype: int64

In [77]:
keep_demographic['age'].describe().round(2)

count    9254.00
mean       34.33
std        25.50
min         0.00
25%        11.00
50%        31.00
75%        58.00
max        80.00
Name: age, dtype: float64

*Note - Individuals aged 80 and over are topcoded at 80. In NHANES 2017-2018, the weighted mean age for participants 80+ is 85*

In [78]:
keep_demographic['age'] = keep_demographic['age'].astype(int)

I decided to focus the model only on adults age 18+.

In [79]:
# remove if age less than 18
keep_demographic = keep_demographic[keep_demographic['age']>=18]

In [80]:
keep_demographic['age'].describe().astype(int)

count    5856
mean       49
std        18
min        18
25%        33
50%        51
75%        65
max        80
Name: age, dtype: int64

In [81]:
keep_demographic['race'].value_counts(dropna=False)

3.0    2032
4.0    1343
6.0     849
1.0     792
2.0     543
7.0     297
Name: race, dtype: int64

In [82]:
keep_demographic['race'].replace({1.0: 'mexican_american',
                                  2.0: 'hispanic',
                                  3.0: 'white',
                                  4.0: 'black',
                                  6.0: 'asian',
                                  7.0: 'other'}, 
                                 inplace=True)

In [83]:
keep_demographic['race'].value_counts(dropna=False)

white               2032
black               1343
asian                849
mexican_american     792
hispanic             543
other                297
Name: race, dtype: int64

In [84]:
keep_demographic['veteran_status'].value_counts(dropna=False)

2.0    5292
1.0     561
7.0       2
9.0       1
Name: veteran_status, dtype: int64

In [85]:
keep_demographic['veteran_status'].replace({1.0: 'yes',
                                            2.0: 'no',
                                            7.0: 'no',
                                            9.0: 'no',}, 
                                           inplace=True)

In [86]:
keep_demographic['veteran_status'].value_counts(dropna=False)

no     5295
yes     561
Name: veteran_status, dtype: int64

In [87]:
keep_demographic['country_of_birth'].value_counts(dropna=False)

1.0     4067
2.0     1786
77.0       2
99.0       1
Name: country_of_birth, dtype: int64

In [88]:
keep_demographic['country_of_birth'].replace({1.0: 'usa',
                                              2.0: 'other',
                                              77.0: 'usa',
                                              99.0: 'usa'}, 
                                             inplace=True)

In [89]:
keep_demographic['country_of_birth'].value_counts(dropna=False)

usa      4070
other    1786
Name: country_of_birth, dtype: int64

In [90]:
keep_demographic['citizen_status'].value_counts(dropna=False)

1.0    5030
2.0     801
7.0      15
9.0       7
NaN       3
Name: citizen_status, dtype: int64

In [91]:
# kept a "no_answer" class since this may be meaningful
keep_demographic['citizen_status'].replace({1.0: 'citizen',
                                            2.0: 'non_citizen',
                                            7.0: 'no_answer',
                                            9.0: 'no_answer',
                                            np.nan: 'no_answer'}, 
                                           inplace=True)

In [92]:
keep_demographic['education'].value_counts(dropna=False)

4.0    1778
5.0    1336
3.0    1325
2.0     638
1.0     479
NaN     287
9.0      11
7.0       2
Name: education, dtype: int64

In [93]:
# these nulls are not as easy to fill in, so I'll use an imputer at a later step
keep_demographic['education'].replace({1.0: 'no_diploma',
                                       2.0: 'no_diploma',
                                       3.0: 'highschool_grad',
                                       4.0: 'some_college',
                                       5.0: 'college_grad',
                                       7.0: np.nan,
                                       9.0: np.nan}, inplace=True)

In [94]:
keep_demographic['marital_status'].value_counts(dropna=False)

1.0     2737
5.0     1006
3.0      641
6.0      515
2.0      462
NaN      287
4.0      202
77.0       6
Name: marital_status, dtype: int64

In [95]:
keep_demographic['marital_status'].replace({1.0: 'married or living with partner',
                                            2.0: 'widowed',
                                            3.0: 'divorced/separated',
                                            4.0: 'divorced/separated',
                                            5.0: 'never married',
                                            6.0: 'married or living with partner',
                                            77.0: 'no_answer'}, inplace=True)

In [96]:
keep_demographic[keep_demographic['marital_status'].isna()].sort_values('age')

        gender  age  ... annual_household_income income_poverty_ratio
SEQN                 ...
93706     male   18  ...                     NaN                  NaN
98618     male   18  ...                     3.0                 0.52
98695     male   18  ...                    12.0                  NaN
98697     male   18  ...                    15.0                 5.00
98829     male   18  ...                    15.0                 3.85
...        ...  ...  ...                     ...                  ...
98866     male   19  ...                     1.0                 0.37
95585     male   19  ...                    14.0                 3.88
98938   female   19  ...                    13.0                  NaN
99013   female   19  ...                     7.0                 1.52
102837  female   19  ...                     1.0                 0.17

[287 rows x 12 columns]

All null values in the marital status column are 18 or 19 year olds, so I will fill the nulls with "never married."

In [97]:
keep_demographic['marital_status'].fillna('never married', inplace=True)

In [98]:
keep_demographic['marital_status'].value_counts(dropna=False)

married or living with partner    3252
never married                     1293
divorced/separated                 843
widowed                            462
no_answer                            6
Name: marital_status, dtype: int64

In [99]:
keep_demographic['pregnancy_status'].value_counts(dropna=False)

NaN    4746
2.0     966
3.0      89
1.0      55
Name: pregnancy_status, dtype: int64

Per the data source, respondents were coded with a value 3 (could not be determined) in two scenarios:
- If the respondent reported did not know her pregnancy status and the urine test was negative
- If the respondent was interviewed but not examined 

Likely the second scenario will be removed from this subset when I begin the supervised learning activity based on A1C level, since this would have occurred during examination. Because the urine test was negative, I am recoding all 3's as "not pregnant" and therefore leaving them in the dataset.

I also assume that null values indicate "not pregnant".

Because pregnancy may cause fluctuations in weight and body measurements, I choose to drop respondents who are pregnant from the dataset.

In [100]:
keep_demographic = keep_demographic[keep_demographic['pregnancy_status'] != 1.0]

In [101]:
keep_demographic.drop(columns='pregnancy_status', inplace=True)

In [102]:
keep_demographic.head()

       gender  age  ... annual_household_income income_poverty_ratio
SEQN                ...
93705  female   66  ...                     3.0                 0.82
93706    male   18  ...                     NaN                  NaN
93708  female   66  ...                     6.0                 1.63
93709  female   75  ...                     2.0                 0.41
93711    male   56  ...                    15.0                 5.00

[5 rows x 11 columns]

I selected annual household income as the primary income-related feature to keep in the dataset.

For this model, I have recoded values as the upper end of each income range reported in order to create a continuous numeric variable. The 100k+ category was coded as 150,000 in keeping with the pattern of higher annual incomes. If respondents only reported if their income was under 20k (197 total respondents), I filled their income as 15,000 since this is likely a larger range with more actual values falling below the maximum. Similarly, if the respondent only reported if their income was over 20k (69 total respondents, I filled their income as 45000.

From data source:

> If a "household" was comprised of a single family or individual, the reported family income was used as household income as well. When more than one family, or one or more unrelated individuals, or a combination of a family and unrelated individuals resided in the household, the total household income was calculated by the sum of all reported family and/or individual income values. When more than one family, or one or more unrelated individuals, or a combination of a family and unrelated individuals resided in the same household, they were asked to provide a total income estimate for the entire household, using similar questions as were used for family income. This estimated household income value was only used when: 1) the family income value was missing for one or more families in the household; and 2) the estimated value was equal or more than the sum of all known family incomes from the household. If different respondents in the household provided different estimates, the largest value was used. If none of the respondents provided a valid household income estimate, but the sum of known family and/or individual incomes was at least 100,000, then household income was categorized as “100,000 and over.”

> If the respondent was not willing or able to provide an exact dollar figure, the interviewer asked an additional question to determine whether the income was < 20,000 or ≥ 20,000. Based on the respondent’s answer to this question, he/she was asked to select a category of income from a list on a hand card. For respondents who selected a category of income, their family incomes were set as the midpoints of the selected ranges. If the respondent was unable to report greater detail than < 20,000 or ≥ 20,000, then these two categories were used to report the family (or individual) income.

In [103]:
keep_demographic['annual_household_income'].value_counts(dropna=False)

15.0    988
6.0     574
7.0     570
14.0    497
8.0     389
NaN     345
5.0     344
4.0     335
9.0     331
10.0    277
3.0     264
12.0    220
2.0     164
1.0     164
99.0    143
77.0    121
13.0     75
Name: annual_household_income, dtype: int64

In [104]:
# these nulls are not as easy to fill in, so I'll use an imputer at a later step
keep_demographic['annual_household_income'].replace({1.0: 5000,
                                                     2.0: 10000,
                                                     3.0: 15000,
                                                     4.0: 20000,
                                                     5.0: 25000,
                                                     6.0: 35000,
                                                     7.0: 45000,
                                                     8.0: 55000,
                                                     9.0: 65000,
                                                     10.0: 75000,
                                                     12.0: 15000,
                                                     13.0: 45000,
                                                     14.0: 100000,
                                                     15.0: 150000,
                                                     77.0: np.nan,
                                                     99.0: np.nan}, inplace=True)

In [105]:
keep_demographic['annual_household_income'].value_counts(dropna=False)

150000.0    988
45000.0     645
NaN         609
35000.0     574
100000.0    497
15000.0     484
55000.0     389
25000.0     344
20000.0     335
65000.0     331
75000.0     277
5000.0      164
10000.0     164
Name: annual_household_income, dtype: int64

In [107]:
keep_demographic['household_size'].value_counts(dropna=False)

2.0    1787
3.0    1057
4.0     918
1.0     806
5.0     638
6.0     334
7.0     261
Name: household_size, dtype: int64

In [108]:
keep_demographic['household_size'] = keep_demographic['household_size'].astype(int)

In [109]:
keep_demographic['income_poverty_ratio'].describe().round(2)

count    4975.00
mean        2.52
std         1.61
min         0.00
25%         1.18
50%         2.08
75%         4.06
max         5.00
Name: income_poverty_ratio, dtype: float64

In [110]:
keep_demographic['income_poverty_ratio'].isna().sum()

826

Per the data source:
> Income-Poverty Ratio was calculated by dividing family (or individual) income by the poverty guidelines specific to the survey year. The value was not computed if the respondent only reported income as < 20,000 or ≥ 20,000. If family income was reported as a more detailed category, the midpoint of the range was used to compute the ratio. Values at or above 5.00 were coded as 5.00 or more because of disclosure concerns. The values were not computed if the income data was missing.

I will seek to use an imputer to fill null values.

In [111]:
keep_demographic.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5801 entries, 93705 to 102956
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   gender                   5801 non-null   object
 1   age                      5801 non-null   int64
 2   race                     5801 non-null   object
 3   veteran_status           5801 non-null   object
 4   country_of_birth         5801 non-null   object
 5   citizen_status           5801 non-null   object
 6   education                5501 non-null   object
 7   marital_status           5801 non-null   object
 8   household_size           5801 non-null   int64
 9   annual_household_income  5192 non-null   float64
 10  income_poverty_ratio     4975 non-null   float64
dtypes: float64(2), int64(2), object(7)
memory usage: 543.8+ KB

### Health Insurance

[View source for additional description and details](https://wwwn.cdc.gov/Nchs/Nhanes/2017-2018/HIQ_J.htm)

The Health Insurance questionnaire (variable name prefix HIQ) provides respondent-level interview data on insurance coverage, type of insurance coverage, coverage of prescription drugs, and uninsured status during the past 12 months.

In [112]:
insurance

        HIQ011  HIQ031A  HIQ031B  HIQ031C  ...  HIQ260  HIQ105  HIQ270  HIQ210
SEQN                                       ...
93703      1.0     14.0      NaN      NaN  ...     NaN     NaN     1.0     2.0
93704      1.0     14.0      NaN      NaN  ...     NaN     NaN     1.0     2.0
93705      1.0      NaN     15.0      NaN  ...     NaN     1.0     1.0     2.0
93706      1.0     14.0      NaN      NaN  ...     NaN     NaN     1.0     2.0
93707      1.0      NaN      NaN      NaN  ...     NaN     NaN     1.0     2.0
...        ...      ...      ...      ...  ...     ...     ...     ...     ...
102952     1.0     14.0     15.0      NaN  ...     NaN     1.0     1.0     2.0
102953     1.0     14.0      NaN      NaN  ...     NaN     NaN     1.0     1.0
102954     1.0      NaN      NaN      NaN  ...     NaN     NaN     1.0     2.0
102955     1.0     14.0      NaN      NaN  ...     NaN     NaN     1.0     1.0
102956     1.0      NaN      NaN      NaN  ...     NaN     NaN     1.0     2.0

[9254 rows x 15 columns]

In [113]:
insurance.columns

Index(['HIQ011', 'HIQ031A', 'HIQ031B', 'HIQ031C', 'HIQ031D', 'HIQ031E',
       'HIQ031F', 'HIQ031H', 'HIQ031I', 'HIQ031J', 'HIQ031AA', 'HIQ260',
       'HIQ105', 'HIQ270', 'HIQ210'],
      dtype='object')

In [114]:
keepcols_insurance = ['HIQ011', 'HIQ031A', 'HIQ031B', 'HIQ031C', 'HIQ031D', 'HIQ031E',
       'HIQ031F', 'HIQ031H', 'HIQ031I', 'HIQ031J', 'HIQ031AA', 'HIQ270', 'HIQ210']

mapper_insurance = {'HIQ011': 'coverage_status',
          'HIQ031A': 'covered_private',
          'HIQ031B': 'covered_medicare',
          'HIQ031C': 'covered_medigap',
          'HIQ031D': 'covered_medicaid',
          'HIQ031E': 'covered_chip',
          'HIQ031F': 'covered_military',
          'HIQ031H': 'covered_state',
          'HIQ031I': 'covered_other_gov',
          'HIQ031J': 'covered_single_service',
          'HIQ031AA': 'not_covered',
          'HIQ270': 'prescription_coverage',
          'HIQ210': 'uninsured_in_last_year'}

In [116]:
keep_insurance = insurance.copy()[keepcols_insurance]
keep_insurance.rename(mapper=mapper_insurance, axis=1, inplace=True)
keep_insurance

        coverage_status  ...  uninsured_in_last_year
SEQN                     ...
93703               1.0  ...                     2.0
93704               1.0  ...                     2.0
93705               1.0  ...                     2.0
93706               1.0  ...                     2.0
93707               1.0  ...                     2.0
...                 ...  ...                     ...
102952              1.0  ...                     2.0
102953              1.0  ...                     1.0
102954              1.0  ...                     2.0
102955              1.0  ...                     1.0
102956              1.0  ...                     2.0

[9254 rows x 13 columns]

In [119]:
keep_insurance['coverage_status'].value_counts(dropna=False)

1.0    8157
2.0    1072
9.0      18
7.0       7
Name: coverage_status, dtype: int64

In [120]:
# kept a "no_answer" class as this may be meaningful
keep_insurance['coverage_status'].replace({1.0: 'insured',
                                   2.0: 'uninsured',
                                   7.0: 'no_answer',
                                   9.0: 'no_answer'}, inplace=True)

In [121]:
keep_insurance['coverage_status'].value_counts(dropna=False)

insured      8157
uninsured    1072
no_answer      25
Name: coverage_status, dtype: int64

In [122]:
keep_insurance['covered_private'].value_counts(dropna=False)

NaN     5000
14.0    4188
99.0      63
77.0       3
Name: covered_private, dtype: int64

In [123]:
keep_insurance['covered_private'].replace({14.0: 'yes',
                                   99.0: 'no',
                                   77.0: 'no',
                                   np.nan: 'no'}, inplace=True)

In [124]:
keep_insurance['covered_medicare'].value_counts(dropna=False)

NaN     7672
15.0    1582
Name: covered_medicare, dtype: int64

In [125]:
keep_insurance['covered_medicare'].replace({15.0: 'yes', np.nan: 'no'}, inplace=True)

In [126]:
keep_insurance['covered_medigap'].value_counts(dropna=False)

NaN     9196
16.0      58
Name: covered_medigap, dtype: int64

In [127]:
keep_insurance['covered_medigap'].replace({16.0: 'yes', np.nan: 'no'}, inplace=True)

In [128]:
keep_insurance['covered_medicaid'].value_counts(dropna=False)

NaN     6727
17.0    2527
Name: covered_medicaid, dtype: int64

In [129]:
keep_insurance['covered_medicaid'].replace({17.0: 'yes', np.nan: 'no'}, inplace=True)

In [130]:
keep_insurance['covered_chip'].value_counts(dropna=False)

NaN     9161
18.0      93
Name: covered_chip, dtype: int64

In [131]:
keep_insurance['covered_chip'].replace({18.0: 'yes', np.nan: 'no'}, inplace=True)

In [132]:
keep_insurance['covered_military'].value_counts(dropna=False)

NaN     8959
19.0     295
Name: covered_military, dtype: int64

In [133]:
keep_insurance['covered_military'].replace({19.0: 'yes', np.nan: 'no'}, inplace=True)

In [134]:
keep_insurance['covered_state'].value_counts(dropna=False)

NaN     8721
21.0     533
Name: covered_state, dtype: int64

In [135]:
keep_insurance['covered_state'].replace({21.0: 'yes', np.nan: 'no'}, inplace=True)

In [136]:
keep_insurance['covered_other_gov'].value_counts(dropna=False)

NaN     8953
22.0     301
Name: covered_other_gov, dtype: int64

In [137]:
keep_insurance['covered_other_gov'].replace({22.0: 'yes', np.nan: 'no'}, inplace=True)

In [138]:
keep_insurance['covered_single_service'].value_counts(dropna=False)

NaN     8546
23.0     708
Name: covered_single_service, dtype: int64

In [139]:
keep_insurance['covered_single_service'].replace({23.0: 'yes', np.nan: 'no'}, inplace=True)

In [140]:
keep_insurance['not_covered'].value_counts(dropna=False)

NaN     9253
40.0       1
Name: not_covered, dtype: int64

In [141]:
#seems to be an anomoly, so I drop this row
keep_insurance[keep_insurance['not_covered']==40.0]
keep_insurance = keep_insurance[keep_insurance['not_covered']!=40.0]

In [142]:
keep_insurance.drop(columns='not_covered', inplace=True)

/Users/kristincooper/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/pandas/core/frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [144]:
keep_insurance.head()

      coverage_status  ... uninsured_in_last_year
SEQN                   ...
93703         insured  ...                    2.0
93704         insured  ...                    2.0
93705         insured  ...                    2.0
93706         insured  ...                    2.0
93707         insured  ...                    2.0

[5 rows x 12 columns]

In [145]:
keep_insurance['prescription_coverage'].value_counts(dropna=False)

1.0    7678
NaN    1082
2.0     379
9.0     110
7.0       4
Name: prescription_coverage, dtype: int64

In [146]:
keep_insurance['prescription_coverage'].replace({1.0: 'yes',
                                         2.0: 'no',
                                         7.0: 'no_answer',
                                         9.0: 'no_answer',
                                         np.nan: 'no_answer'}, inplace=True)

/Users/kristincooper/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/pandas/core/series.py:4563: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().replace(

In [147]:
keep_insurance['prescription_coverage'].value_counts(dropna=False)

yes          7678
no_answer    1196
no            379
Name: prescription_coverage, dtype: int64

In [148]:
keep_insurance['uninsured_in_last_year'].value_counts(dropna=False)

2.0    7591
NaN    1082
1.0     561
9.0      18
7.0       1
Name: uninsured_in_last_year, dtype: int64

In [149]:
keep_insurance['uninsured_in_last_year'].replace({1.0: 'yes',
                                          2.0: 'no',
                                          7.0: 'no_answer',
                                          9.0: 'no_answer'}, inplace=True)

/Users/kristincooper/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/pandas/core/series.py:4563: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().replace(

In [150]:
keep_insurance[keep_insurance['uninsured_in_last_year'].isna()]

       coverage_status  ... uninsured_in_last_year
SEQN                    ...
93712        uninsured  ...                    NaN
93717        uninsured  ...                    NaN
93729        no_answer  ...                    NaN
93730        uninsured  ...                    NaN
93743        uninsured  ...                    NaN
...                ...  ...                    ...
102884       uninsured  ...                    NaN
102898       uninsured  ...                    NaN
102918       uninsured  ...                    NaN
102921       uninsured  ...                    NaN
102922       uninsured  ...                    NaN

[1082 rows x 12 columns]

In [151]:
for ind, row in keep_insurance.iterrows():
    if keep_insurance['coverage_status'][ind] == 'uninsured':
        keep_insurance['uninsured_in_last_year'][ind] = 'yes'

/Users/kristincooper/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3417: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exec(code_obj, self.user_global_ns, self.user_ns)

In [152]:
keep_insurance[keep_insurance['uninsured_in_last_year'].isna()]

       coverage_status  ... uninsured_in_last_year
SEQN                    ...
93729        no_answer  ...                    NaN
93902        no_answer  ...                    NaN
93981        no_answer  ...                    NaN
95301        no_answer  ...                    NaN
95515        no_answer  ...                    NaN
95567        no_answer  ...                    NaN
95659        no_answer  ...                    NaN
96934        no_answer  ...                    NaN
97033        no_answer  ...                    NaN
97306        no_answer  ...                    NaN
97486        no_answer  ...                    NaN
97531        no_answer  ...                    NaN
97774        no_answer  ...                    NaN
98146        no_answer  ...                    NaN
98618        no_answer  ...                    NaN
98628        no_answer  ...                    NaN
98926        no_answer  ...                    NaN
98962        no_answer  ...                    NaN
99065        no_answer  ...                    NaN
99576        no_answer  ...                    NaN
100464       no_answer  ...                    NaN
100601       no_answer  ...                    NaN
100950       no_answer  ...                    NaN
100981       no_answer  ...                    NaN
101975       no_answer  ...                    NaN

[25 rows x 12 columns]

In [153]:
keep_insurance['uninsured_in_last_year'].fillna('no_answer', inplace=True)

/Users/kristincooper/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/pandas/core/series.py:4517: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(

In [154]:
keep_insurance['uninsured_in_last_year'].value_counts(dropna=False)

no           7578
yes          1631
no_answer      44
Name: uninsured_in_last_year, dtype: int64

In [155]:
keep_insurance.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9253 entries, 93703 to 102956
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   coverage_status         9253 non-null   object
 1   covered_private         9253 non-null   object
 2   covered_medicare        9253 non-null   object
 3   covered_medigap         9253 non-null   object
 4   covered_medicaid        9253 non-null   object
 5   covered_chip            9253 non-null   object
 6   covered_military        9253 non-null   object
 7   covered_state           9253 non-null   object
 8   covered_other_gov       9253 non-null   object
 9   covered_single_service  9253 non-null   object
 10  prescription_coverage   9253 non-null   object
 11  uninsured_in_last_year  9253 non-null   object
dtypes: object(12)
memory usage: 1.2+ MB

### Body Measures

[View source for additional description and details](https://wwwn.cdc.gov/Nchs/Nhanes/2017-2018/BMX_J.htm)

NHANES body measures data are used to monitor trends in infant and child growth, to estimate the prevalence of overweight and obesity in U.S. children, adolescents, and adults, and to examine the associations between body weight and the health and nutritional status of the U.S. population.

All survey participants were eligible for the body measures component. There were no medical, safety, or other exclusions for the body measurements protocol. The health technicians used their discretion to obtain as many measures as practical for persons who used a wheelchair.

In [156]:
measures

        BMDSTATS  BMXWT  BMIWT  BMXRECUM  ...  BMXWAIST  BMIWAIST  BMXHIP  BMIHIP
SEQN                                      ...
93703        1.0   13.7    3.0      89.6  ...      48.2       NaN     NaN     NaN
93704        1.0   13.9    NaN      95.0  ...      50.0       NaN     NaN     NaN
93705        1.0   79.5    NaN       NaN  ...     101.8       NaN   110.0     NaN
93706        1.0   66.3    NaN       NaN  ...      79.3       NaN    94.4     NaN
93707        1.0   45.4    NaN       NaN  ...      64.1       NaN    83.0     NaN
...          ...    ...    ...       ...  ...       ...       ...     ...     ...
102952       1.0   49.0    NaN       NaN  ...      82.2       NaN    87.3     NaN
102953       1.0   97.4    NaN       NaN  ...     114.8       NaN   112.8     NaN
102954       1.0   69.1    NaN       NaN  ...      86.4       NaN   102.7     NaN
102955       1.0  111.9    NaN       NaN  ...     113.5       NaN   128.3     NaN
102956       1.0  111.5    NaN       NaN  ...     122.0       NaN   110.0     NaN

[8704 rows x 20 columns]

In [157]:
measures.columns

Index(['BMDSTATS', 'BMXWT', 'BMIWT', 'BMXRECUM', 'BMIRECUM', 'BMXHEAD',
       'BMIHEAD', 'BMXHT', 'BMIHT', 'BMXBMI', 'BMXLEG', 'BMILEG', 'BMXARML',
       'BMIARML', 'BMXARMC', 'BMIARMC', 'BMXWAIST', 'BMIWAIST', 'BMXHIP',
       'BMIHIP'],
      dtype='object')

In [158]:
keepcols_measures = ['BMXWT', 'BMXHT', 'BMXBMI', 'BMXWAIST', 'BMXHIP']

In [160]:
keep_measures = measures.copy()[keepcols_measures]
keep_measures.rename(mapper={'BMXWT': 'weight_kg', 
                             'BMXHT': 'height_cm',
                             'BMXBMI': 'BMI',
                             'BMXWAIST': 'waist_circumference_cm',
                             'BMXHIP': 'hip_circumference_cm'},
                    axis=1, inplace=True)
keep_measures

        weight_kg  height_cm  ...  waist_circumference_cm  hip_circumference_cm
SEQN                          ...
93703        13.7       88.6  ...                    48.2                   NaN
93704        13.9       94.2  ...                    50.0                   NaN
93705        79.5      158.3  ...                   101.8                 110.0
93706        66.3      175.7  ...                    79.3                  94.4
93707        45.4      158.4  ...                    64.1                  83.0
...           ...        ...  ...                     ...                   ...
102952       49.0      156.5  ...                    82.2                  87.3
102953       97.4      164.9  ...                   114.8                 112.8
102954       69.1      162.6  ...                    86.4                 102.7
102955      111.9      156.6  ...                   113.5                 128.3
102956      111.5      175.8  ...                   122.0                 110.0

[8704 rows x 5 columns]

In [161]:
keep_measures['weight_kg'].describe().round(1)

count    8580.0
mean       65.1
std        32.9
min         3.2
25%        43.1
50%        67.8
75%        85.6
max       242.6
Name: weight_kg, dtype: float64

In [162]:
keep_measures['weight_kg'].isna().sum()

124

In [163]:
keep_measures[keep_measures['weight_kg'].isna()]

        weight_kg  height_cm  BMI  waist_circumference_cm  hip_circumference_cm
SEQN
93777         NaN        NaN  NaN                     NaN                   NaN
93816         NaN        NaN  NaN                     NaN                   NaN
93935         NaN        NaN  NaN                     NaN                   NaN
93955         NaN        NaN  NaN                     NaN                   NaN
94310         NaN        NaN  NaN                     NaN                   NaN
...           ...        ...  ...                     ...                   ...
102590        NaN        NaN  NaN                     NaN                   NaN
102610        NaN       96.2  NaN                     NaN                   NaN
102671        NaN        NaN  NaN                     NaN                   NaN
102684        NaN        NaN  NaN                     NaN                   NaN
102864        NaN        NaN  NaN                     NaN                   NaN

[124 rows x 5 columns]

Because many of the 77 rows with missing weights are also missing heights and BMIs, I removed them from the dataset

In [164]:
keep_measures = keep_measures[~keep_measures['weight_kg'].isna()]
keep_measures

        weight_kg  height_cm  ...  waist_circumference_cm  hip_circumference_cm
SEQN                          ...
93703        13.7       88.6  ...                    48.2                   NaN
93704        13.9       94.2  ...                    50.0                   NaN
93705        79.5      158.3  ...                   101.8                 110.0
93706        66.3      175.7  ...                    79.3                  94.4
93707        45.4      158.4  ...                    64.1                  83.0
...           ...        ...  ...                     ...                   ...
102952       49.0      156.5  ...                    82.2                  87.3
102953       97.4      164.9  ...                   114.8                 112.8
102954       69.1      162.6  ...                    86.4                 102.7
102955      111.9      156.6  ...                   113.5                 128.3
102956      111.5      175.8  ...                   122.0                 110.0

[8580 rows x 5 columns]

In [165]:
keep_measures['weight_kg'].isna().sum()

0

In [166]:
keep_measures['height_cm'].isna().sum()

575

In [167]:
keep_measures[keep_measures['height_cm'].isna()]

        weight_kg  height_cm  BMI  waist_circumference_cm  hip_circumference_cm
SEQN
93710        10.2        NaN  NaN                     NaN                   NaN
93720        10.6        NaN  NaN                     NaN                   NaN
93748         9.3        NaN  NaN                     NaN                   NaN
93749         8.3        NaN  NaN                     NaN                   NaN
93764         9.2        NaN  NaN                     NaN                   NaN
...           ...        ...  ...                     ...                   ...
102897       12.6        NaN  NaN                     NaN                   NaN
102919        7.2        NaN  NaN                     NaN                   NaN
102927        9.1        NaN  NaN                     NaN                   NaN
102936       10.2        NaN  NaN                     NaN                   NaN
102942        8.9        NaN  NaN                     NaN                   NaN

[575 rows x 5 columns]

Because a these rows seem to be missing a lot of data, I will remove them from the dataset.

In [168]:
keep_measures = keep_measures[~keep_measures['height_cm'].isna()]
keep_measures['height_cm'].isna().sum()

0

In [169]:
keep_measures['BMI'].isna().sum()

0

In [170]:
keep_measures['waist_circumference_cm'].isna().sum()

419

In [171]:
keep_measures['hip_circumference_cm'].isna().sum()

1975

Waist and hip circumference will be filled during the imputing step to come.

### Physical Activity

[View source for additional description and details](https://wwwn.cdc.gov/Nchs/Nhanes/2017-2018/PAQ_J.htm)

Data obtained from the respondent-level interview and questionnaire on physical activity.

In [172]:
activity

        PAQ605  PAQ610  PAD615  PAQ620  ...  PAQ665  PAQ670  PAD675  PAD680
SEQN                                    ...
93705      2.0     NaN     NaN     2.0  ...     1.0     2.0    60.0   300.0
93706      2.0     NaN     NaN     2.0  ...     1.0     2.0    30.0   240.0
93708      2.0     NaN     NaN     2.0  ...     1.0     5.0    30.0   120.0
93709      2.0     NaN     NaN     1.0  ...     2.0     NaN     NaN   600.0
93711      2.0     NaN     NaN     2.0  ...     1.0     2.0    30.0   420.0
...        ...     ...     ...     ...  ...     ...     ...     ...     ...
102950     2.0     NaN     NaN     2.0  ...     2.0     NaN     NaN    60.0
102952     2.0     NaN     NaN     2.0  ...     1.0     6.0    60.0   120.0
102953     1.0     3.0   240.0     1.0  ...     2.0     NaN     NaN   360.0
102954     2.0     NaN     NaN     2.0  ...     1.0     2.0    30.0   600.0
102956     2.0     NaN     NaN     2.0  ...     2.0     NaN     NaN   720.0

[5856 rows x 16 columns]

In [173]:
activity.columns

Index(['PAQ605', 'PAQ610', 'PAD615', 'PAQ620', 'PAQ625', 'PAD630', 'PAQ635',
       'PAQ640', 'PAD645', 'PAQ650', 'PAQ655', 'PAD660', 'PAQ665', 'PAQ670',
       'PAD675', 'PAD680'],
      dtype='object')

In [174]:
keepcols_activity = ['PAD615', 'PAQ610', 'PAD630', 'PAQ625', 'PAQ640', 'PAD645', 'PAD660', 
                     'PAQ655', 'PAD675', 'PAQ670', 'PAD680']
mapper_activity = {'PAD615':'work_vigorous_minperday', 
                   'PAQ610': 'work_vigorous_daysperweek',
                   'PAD630': 'work_moderate_minperday', 
                   'PAQ625': 'work_moderate_daysperweek',
                   'PAD645': 'transportation_minperday', 
                   'PAQ640': 'transportation_daysperweek',
                   'PAD660': 'recreation_vigorous_minperday', 
                   'PAQ655': 'recreation_vigorous_daysperweek',
                   'PAD675': 'recreation_moderate_minperday', 
                   'PAQ670': 'recreation_moderate_daysperweek',
                   'PAD680': 'sedentary_minsperday'}

In [175]:
keep_activity = activity.copy()[keepcols_activity].rename(mapper=mapper_activity, axis=1).fillna(0)
keep_activity

        work_vigorous_minperday  ...  sedentary_minsperday
SEQN                             ...
93705                       0.0  ...                 300.0
93706                       0.0  ...                 240.0
93708                       0.0  ...                 120.0
93709                       0.0  ...                 600.0
93711                       0.0  ...                 420.0
...                         ...  ...                   ...
102950                      0.0  ...                  60.0
102952                      0.0  ...                 120.0
102953                    240.0  ...                 360.0
102954                      0.0  ...                 600.0
102956                      0.0  ...                 720.0

[5856 rows x 11 columns]

In [176]:
days_cols = ['work_vigorous_daysperweek', 'work_moderate_daysperweek', 'transportation_daysperweek',
            'recreation_vigorous_daysperweek', 'recreation_moderate_daysperweek']
mins_cols = ['work_vigorous_minperday', 'work_moderate_minperday', 'transportation_minperday',
            'recreation_vigorous_minperday', 'recreation_moderate_minperday', ]

In [177]:
for col in days_cols:
    print(col)
    display(keep_activity[col].value_counts())
    print('_____'*20)

work_vigorous_daysperweek

0.0     4467
5.0      384
3.0      232
2.0      178
6.0      160
4.0      153
7.0      151
1.0      130
99.0       1
Name: work_vigorous_daysperweek, dtype: int64

____________________________________________________________________________________________________
work_moderate_daysperweek

0.0     3417
5.0      702
3.0      401
7.0      331
2.0      308
4.0      307
6.0      210
1.0      174
99.0       6
Name: work_moderate_daysperweek, dtype: int64

____________________________________________________________________________________________________
transportation_daysperweek

0.0     4417
7.0      410
5.0      332
3.0      230
2.0      177
4.0      135
6.0       87
1.0       64
99.0       4
Name: transportation_daysperweek, dtype: int64

____________________________________________________________________________________________________
recreation_vigorous_daysperweek

0.0     4422
3.0      385
2.0      269
4.0      264
5.0      207
1.0      163
7.0       73
6.0       72
99.0       1
Name: recreation_vigorous_daysperweek, dtype: int64

____________________________________________________________________________________________________
recreation_moderate_daysperweek

0.0     3548
3.0      606
2.0      491
5.0      321
4.0      293
1.0      253
7.0      250
6.0       91
99.0       3
Name: recreation_moderate_daysperweek, dtype: int64

____________________________________________________________________________________________________

In [178]:
for col in mins_cols:
    print(col)
    display(keep_activity[col].value_counts())
    print('_____'*20)

work_vigorous_minperday

0.0       4475
120.0      234
60.0       194
240.0      177
180.0      130
480.0      107
30.0       106
300.0       93
360.0       80
420.0       41
10.0        40
600.0       38
15.0        31
20.0        31
90.0        23
540.0       15
45.0        14
9999.0       6
150.0        4
40.0         4
720.0        4
25.0         2
80.0         1
12.0         1
840.0        1
35.0         1
780.0        1
140.0        1
660.0        1
Name: work_vigorous_minperday, dtype: int64

____________________________________________________________________________________________________
work_moderate_minperday

0.0       3430
120.0      449
60.0       362
240.0      317
180.0      277
30.0       206
300.0      150
480.0      131
360.0      125
10.0        76
20.0        75
15.0        55
90.0        39
420.0       38
600.0       34
45.0        28
540.0       14
9999.0      13
40.0        11
720.0        6
150.0        6
25.0         4
50.0         2
660.0        1
12.0         1
230.0        1
70.0         1
35.0         1
840.0        1
140.0        1
210.0        1
Name: work_moderate_minperday, dtype: int64

____________________________________________________________________________________________________
transportation_minperday

0.0       4426
30.0       333
60.0       270
20.0       176
10.0       154
15.0       119
120.0      118
40.0        45
180.0       38
45.0        36
240.0       30
90.0        28
25.0        21
300.0        8
480.0        8
360.0        6
420.0        6
50.0         5
80.0         4
9999.0       4
12.0         3
35.0         3
14.0         2
540.0        2
75.0         1
16.0         1
22.0         1
660.0        1
150.0        1
42.0         1
17.0         1
209.0        1
110.0        1
600.0        1
230.0        1
Name: transportation_minperday, dtype: int64

____________________________________________________________________________________________________
recreation_vigorous_minperday

0.0       4425
60.0       464
120.0      240
30.0       210
45.0       110
90.0       110
180.0       90
20.0        62
40.0        29
240.0       23
15.0        18
10.0        13
25.0        11
35.0        10
150.0       10
50.0         5
75.0         5
80.0         4
300.0        4
18.0         2
480.0        2
360.0        2
23.0         1
12.0         1
11.0         1
209.0        1
420.0        1
55.0         1
9999.0       1
Name: recreation_vigorous_minperday, dtype: int64

____________________________________________________________________________________________________
recreation_moderate_minperday

0.0       3555
60.0       641
30.0       557
120.0      260
20.0       194
45.0       123
15.0       102
90.0        80
180.0       77
10.0        73
40.0        59
240.0       54
300.0       16
25.0        16
35.0         8
50.0         7
360.0        6
80.0         4
75.0         4
480.0        4
12.0         3
22.0         2
420.0        2
150.0        2
540.0        1
55.0         1
16.0         1
28.0         1
100.0        1
210.0        1
9999.0       1
Name: recreation_moderate_minperday, dtype: int64

____________________________________________________________________________________________________

In [179]:
for col in days_cols:
    keep_activity[col].replace({77.0: 0, 99.0:0}, inplace=True)
for col in mins_cols:
    keep_activity[col].replace({7777.0: 0, 9999.0: 0}, inplace=True)

In [180]:
for col in days_cols:
    print(col)
    display(keep_activity[col].value_counts())
    print('_____'*20)

work_vigorous_daysperweek

0.0    4468
5.0     384
3.0     232
2.0     178
6.0     160
4.0     153
7.0     151
1.0     130
Name: work_vigorous_daysperweek, dtype: int64

____________________________________________________________________________________________________
work_moderate_daysperweek

0.0    3423
5.0     702
3.0     401
7.0     331
2.0     308
4.0     307
6.0     210
1.0     174
Name: work_moderate_daysperweek, dtype: int64

____________________________________________________________________________________________________
transportation_daysperweek

0.0    4421
7.0     410
5.0     332
3.0     230
2.0     177
4.0     135
6.0      87
1.0      64
Name: transportation_daysperweek, dtype: int64

____________________________________________________________________________________________________
recreation_vigorous_daysperweek

0.0    4423
3.0     385
2.0     269
4.0     264
5.0     207
1.0     163
7.0      73
6.0      72
Name: recreation_vigorous_daysperweek, dtype: int64

____________________________________________________________________________________________________
recreation_moderate_daysperweek

0.0    3551
3.0     606
2.0     491
5.0     321
4.0     293
1.0     253
7.0     250
6.0      91
Name: recreation_moderate_daysperweek, dtype: int64

____________________________________________________________________________________________________

In [ ]:
for col in mins_cols:
    print(col)
    display(keep_activity[col].value_counts())
    print('_____'*20)

In [ ]:
keep_activity['vigorous_activity_minsperweek'] =\
            (keep_activity['work_vigorous_daysperweek']*keep_activity['work_vigorous_minperday']) +\
            (keep_activity['recreation_vigorous_daysperweek']*keep_activity['recreation_vigorous_daysperweek'])

keep_activity['moderate_activity_minsperweek'] =\
            (keep_activity['work_moderate_daysperweek']*keep_activity['work_moderate_minperday']) +\
            (keep_activity['recreation_moderate_daysperweek']*keep_activity['recreation_moderate_minperday']) +\
            (keep_activity['transportation_daysperweek']*keep_activity['transportation_minperday'])

keep_activity

In [ ]:
keep_activity2 = keep_activity[['sedentary_minsperday',
                                'vigorous_activity_minsperweek',
                                'moderate_activity_minsperweek']]
keep_activity2

In [ ]:
keep_activity2.describe().round(2)

### Nicotine Usage

https://wwwn.cdc.gov/Nchs/Nhanes/2017-2018/SMQ_J.htm#Component_Description

History of cigarette and tobacco/nicotine product use per respondent, self-reported during interviews.

In [ ]:
smoking.head()

In [ ]:
keepcols_smoking = ['SMQ020', 'SMQ040', 'SMQ905', 'SMQ915']
mapper_smoking = {'SMQ020': 'lifetime_cigarette_smoker', 
                 'SMQ040': 'current_cigarette_smoker',
                 'SMQ905': 'ecig_smoker',
                 'SMQ915': 'smokeless_tobacco_user'}

In [ ]:
keep_smoking = smoking[keepcols_smoking].rename(mapper=mapper_smoking, axis=1)
keep_smoking.round(1)

### Lab - A1C

In [ ]:
a1c

In [ ]:
a1c.rename(mapper={'LBXGH': 'glycohemoglobin'}, axis=1, inplace=True)

In [ ]:
a1c.isna().sum()

In [ ]:
a1c.dropna(inplace=True)

In [ ]:
def diagnose_multiclass(a1c_value):
    diagnosis = None
    if a1c_value >= 6.5:
        diagnosis = 'Diabetic'
    if (a1c_value >= 5.7) & (a1c_value < 6.5):
        diagnosis = 'Prediabetic'
    if a1c_value < 5.7:
        diagnosis = 'Normal'
    return diagnosis

In [ ]:
def diagnose_binary(a1c_value):
    diagnosis = None
    if (a1c_value >= 5.7):
        diagnosis = 'Diabetic/Prediabetic'
    if a1c_value < 5.7:
        diagnosis = 'Normal'
    return diagnosis

In [ ]:
a1c['calculated_diagnosis'] = a1c.glycohemoglobin.map(lambda x: diagnose_binary(x))
a1c

In [ ]:
display(a1c.calculated_diagnosis.value_counts())
display(a1c.calculated_diagnosis.value_counts(normalize=True).round(2))

# Merging and Preprocessing Data

## Merge

In [ ]:
dfs = [a1c, keep_demographic, keep_insurance, keep_measures, keep_bp2, cholesterol, 
       keep_insulin, keep_activity2, keep_smoking]

In [ ]:
col_count = 0
for df in dfs:
    col_count += len(list(df.columns))
col_count

In [ ]:
dfs_preds = dfs[1:]

In [ ]:
# Concatenated all data besides my target

df_preds = pd.concat(dfs_preds, join='outer', axis=1)
df_preds

In [ ]:
# left merge the predictors into the target to ensure my mega_df is ready for a supervised learning task

mega_df = pd.merge(a1c, df_preds, how='left', on='SEQN')
mega_df

In [ ]:
mega_df.info()

## Unencode Values, Deal with Nulls

In [ ]:
preprocessing_vcnulls(mega_df, 'calculated_diagnosis')

In [ ]:
mega_df['avg_pulse'].isna().sum()

In [ ]:
mega_df['avg_pulse'].describe().round(2)

Waist circumference, hip circumference, and pulse all seem like good options to impute using IterativeImputer.

In [ ]:
mega_df['sedentary_minsperday'].describe().round(2)

In [ ]:
mega_df['sedentary_minsperday'].replace({9999.0: mega_df['sedentary_minsperday'].mean()}, inplace=True)

In [ ]:
mega_df['sedentary_minsperday'].describe().round(2)

In [ ]:
mega_df['vigorous_activity_minsperweek'].describe().round(2)

In [ ]:
mega_df['moderate_activity_minsperweek'].describe().round(2)

Definitions of nicotine user features:
- Lifetime cigarette smoker - respondent has smoked at least 100 cigarettes in their lifetime
- Current cigarette smoker - respondent currently smokes every day or some days
- E-cigarette smoker - respondent has smoked an ecigarette at least once in the last 30 days
- Smokeless tobacco user - respondent has used smokeless tobacco at least once in the last 30 days

In [ ]:
preprocessing_vcnulls(mega_df, 'lifetime_cigarette_smoker')

In [ ]:
mega_df['lifetime_cigarette_smoker'].replace({1.0: 'yes', 2.0: 'no'}, inplace=True)

In [ ]:
mega_df.head()

In [ ]:
preprocessing_vcnulls(mega_df, 'current_cigarette_smoker')

In [ ]:
mega_df['current_cigarette_smoker'].replace({1.0: 'yes',
                                            2.0: 'yes',
                                            3.0: 'no',
                                            np.nan: 'no_answer'}, inplace=True)

In [ ]:
preprocessing_vcnulls(mega_df, 'current_cigarette_smoker')

In [ ]:
preprocessing_vcnulls(mega_df, 'ecig_smoker')

In [ ]:
for ind, row in mega_df.iterrows():
    if mega_df['ecig_smoker'][ind] > 0:
        mega_df['ecig_smoker'][ind] = 'yes'

In [ ]:
mega_df['ecig_smoker'].fillna('no', inplace=True)

In [ ]:
preprocessing_vcnulls(mega_df, 'ecig_smoker')

In [ ]:
preprocessing_vcnulls(mega_df, 'smokeless_tobacco_user')

In [ ]:
for ind, row in mega_df.iterrows():
    if mega_df['smokeless_tobacco_user'][ind] > 0:
        mega_df['smokeless_tobacco_user'][ind] = 'yes' 
        
mega_df['smokeless_tobacco_user'].fillna('no', inplace=True)

In [ ]:
preprocessing_vcnulls(mega_df, 'smokeless_tobacco_user')

For the first model, I will seek to predict diabetes diagnosis using only easily-accessible features - i.e., questionnaire responses, height, weight, BMI, and blood pressure.

In [ ]:
qx_df = mega_df.drop(columns=['avg_systolic', 'avg_diastolic', 'triglyceride', 'cholesterol_ldl',
                             'cholesterol_hdl', 'cholesterol_total', 'insulin'])
qx_df

In [ ]:
qx_df.isna().any(axis=1).sum()

## IterativeImputer
I decided to experiment with scikit-learn's experimental IterativeImputer class to fill my remaining null values, which models each feature with missing values as a function of other features, and uses that estimation for imputation. [Read more here](https://scikit-learn.org/stable/modules/impute.html#:~:text=3.-,Multivariate%20feature%20imputation,uses%20that%20estimate%20for%20imputation.&text=Then%2C%20the%20regressor%20is%20used,the%20missing%20values%20of%20y%20.).

In order to use the IterativeImputer, I need to encode all my columns now.

In [ ]:
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

In [ ]:
qx_df_encoded = pd.get_dummies(qx_df, drop_first=True, dtype='float').reset_index()
qx_df_encoded.head()

In [ ]:
itimp = IterativeImputer(max_iter=5, random_state=123)
itimp.fit(qx_df_encoded)

qx_df_imputed = pd.DataFrame(itimp.transform(qx_df_encoded), columns=qx_df_encoded.columns)

In [ ]:
qx_df_imputed.isna().sum()

In [ ]:
qx_df_imputed['SEQN'] = qx_df_imputed['SEQN'].astype(int)

In [ ]:
qx_df_imputed.set_index('SEQN', inplace=True)

In [ ]:
qx_df_imputed.head()

## Train-Test Split & Address Class Imbalance

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
y = qx_df_imputed['calculated_diagnosis_Normal']
X = qx_df_imputed.drop(['glycohemoglobin', 'calculated_diagnosis_Normal'], axis=1)
X_train , X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=123)

In [ ]:
display(X_train.head())
display(y_train.head())

## Class Balance

In [ ]:
# checking for class imbalance in my target, using pre-encoded data for ease
print(y.value_counts())
print('___'*15)
print(y.value_counts(normalize=True).round(3))

In [ ]:
# from imblearn.over_sampling import SMOTE

In [ ]:
# smote = SMOTE()
# X_train_bal, y_train_bal = smote.fit_sample(X_train, y_train)
# print('0.0 = Diabetic/Prediabetic')
# print('1.0 = Normal\n')

# print(y_train_bal.value_counts())

## Normalize Data

In [ ]:
from sklearn.preprocessing import StandardScaler

In [ ]:
scaler = StandardScaler()
X_train_scaled = pd.DataFrame(scaler.fit_transform(X_train), columns=X_train.columns)
X_test_scaled = pd.DataFrame(scaler.fit_transform(X_test), columns=X_test.columns)
X_train_scaled

# Classification Models

In [ ]:
from sklearn.metrics import classification_report, plot_confusion_matrix, accuracy_score, roc_curve, auc, f1_score
from sklearn.linear_model import LogisticRegression

In [ ]:
model_stats = pd.DataFrame(columns=['Model', 'Train AUC', 'Test AUC', 
                                    'Train Accuracy', 'Test Accuracy',
                                    'Train F1 Score', 'Test F1 Score'])

In [ ]:
def check_fit(model, X_train, y_train, X_test, y_test):
    stats = pd.DataFrame(index=['Training', 'Testing'], columns=['Accuracy', 'F1 Score'])
    y_train_pred = model.predict(X_train)
    stats['Accuracy']['Training'] = accuracy_score(y_train, y_train_pred)
    stats['F1 Score']['Training'] = f1_score(y_train, y_train_pred)
    y_test_pred = model.predict(X_test)
    stats['Accuracy']['Testing'] = accuracy_score(y_test, y_test_pred)
    stats['F1 Score']['Testing'] = f1_score(y_test, y_test_pred)
    return stats

def evaluate_classifier(model, X_train, y_train, X_test, y_test, cmap='Blues', track=True):
    model.fit(X_train, y_train)
    print('CHECK FOR OVERFITTING - seek for test data to perform almost as well as train data')
    display(check_fit(model, X_train, y_train, X_test, y_test))
    print('___'*20)
    
    y_test_pred = model.predict(X_test)
    test_acc = accuracy_score(y_test, y_test_pred)
    y_train_pred = model.predict(X_train)
    train_acc = accuracy_score(y_train, y_train_pred)
    print('\nCHECK ACCURACY, PRECISION, RECALL, & F1 SCORE - seek to maximize accuracy and F1 score\n')
    print(classification_report(y_test, y_test_pred))
    plot_confusion_matrix(model, X_test, y_test, normalize='all', cmap=cmap)
    print('___'*20)
    
    print('\nCHECK Test ROC CURVE - seek to maximize area under the curve\n')
    y_score_train = model.predict_proba(X_train)
    fpr_train, tpr_train, thresholds_train = roc_curve(y_train, y_score_train[:,1])
    train_auc = auc(fpr_train, tpr_train)
    
    y_score = model.predict_proba(X_test)
    fpr, tpr, thresholds = roc_curve(y_test, y_score[:,1])
    test_auc = auc(fpr, tpr)
    print('AUC: {}'.format(test_auc))
    plt.figure(figsize=(6,4))
    plt.plot(fpr, tpr, color='darkorange', label='ROC curve')
    plt.plot([0,1], [0,1], color='navy', linestyle='--')
    plt.xlabel('False Positive Rate')
    plt.ylabel('True Positive Rate')
    plt.title('Receiver Operating Characteristic (ROC) Curve')
    plt.legend(loc='lower right')
    plt.show()
    
    if track:
        model_stats['Model'] = str(model)
        try:
            model_stats['Train AUC'] = train_auc.round(4)
        except Exception:
            pass
        try:
            model_stats['Test AUC'] = test_auc.round(4)
        except Exception:
            pass
        try:
            model_stats['Train Accuracy'] = train_acc.round(4)
        except Exception:
            pass
        try:
            model_stats['Test Accuracy'] = test_acc.round(4)
        except Exception:
            pass
        try:
            model_stats['Train F1 Score'] = model.f1_score(y_train, y_train_pred).round(4)
        except Exception:
            pass
        try:
            model_stats['Test F1 Score'] = model.f1_score(y_test, y_test_pred).round(4)
        except Exception:
            pass

        return model_stats

## Dummy Model - for comparison only

In [ ]:
from sklearn.dummy import DummyClassifier

In [ ]:
dummy_clf = DummyClassifier(strategy='stratified')

### Scaled data

In [ ]:
evaluate_classifier(dummy_clf, X_train_scaled, y_train, X_test_scaled, y_test, cmap='Blues', track=False)

### Unscaled data

In [ ]:
evaluate_classifier(dummy_clf, X_train, y_train, X_test, y_test, track=False)

## Logistic Regression

In [ ]:
log_clf = LogisticRegression()

### Scaled data

In [ ]:
evaluate_classifier(log_clf, X_train_scaled, y_train, X_test_scaled, y_test, cmap='Blues')

### Unscaled data

In [ ]:
evaluate_classifier(log_clf, X_train, y_train, X_test, y_test)

## K-Nearest Neighbors

In [ ]:
from sklearn.neighbors import KNeighborsClassifier

In [ ]:
knn_clf = KNeighborsClassifier()

### Scaled data

In [ ]:
evaluate_classifier(knn_clf, X_train_scaled, y_train, X_test_scaled, y_test)

## Decision Tree

### Single Tree Classifier

In [ ]:
from sklearn.tree import DecisionTreeClassifier
from sklearn import tree

In [ ]:
dt_clf = DecisionTreeClassifier(criterion='entropy', max_depth=10)

In [ ]:
evaluate_classifier(dt_clf, X_train, y_train, X_test, y_test)

In [ ]:
feat_importance_zip = dict(zip(X_train.columns, dt_clf.fit(X_train, y_train).feature_importances_))
feat_importance_zip = sorted(feat_importance_zip.items(), key=lambda item: item[1], reverse=True)
feat_importance_df = pd.DataFrame(feat_importance_zip, columns=['feature', 'importance'])

In [ ]:
feat_importance_df

In [ ]:
top_10_feats = feat_importance_df[0:10]
top_10_feats = top_10_feats.sort_values('importance', ascending=True)

In [ ]:
plt.figure(figsize=(8,6))
plt.barh(y=top_10_feats['feature'], width=top_10_feats['importance'], color='rebeccapurple')
plt.title('Top 10 Features Used In Decision Tree');

### Random Forest

In [ ]:
from sklearn.ensemble import BaggingClassifier

In [ ]:
rf_clf = BaggingClassifier(base_estimator=DecisionTreeClassifier(), n_estimators=20)

In [ ]:
evaluate_classifier(rf_clf, X_train, y_train, X_test, y_test)

In [ ]:
from sklearn.model_selection import GridSearchCV, cross_val_score

In [ ]:
dt_clf = DecisionTreeClassifier()

In [ ]:
dt_cv_score = cross_val_score(dt_clf, X_train, y_train, cv=5)
mean_dt_score = np.mean(dt_cv_score)
mean_dt_score

In [ ]:
dt_param_grid = {'criterion': ['entropy', 'gini'],
                'max_depth': [None, 3, 5, 7, 10, 15, 20],
#                 'min_samples_split': [None, 3, 4, 5, 10],
                'max_features': [None, 5, 7, 9, 11, 13, 15]}

In [ ]:
dt_grid_search = GridSearchCV(dt_clf, dt_param_grid, cv=5, return_train_score=True).fit(X_train, y_train)

In [ ]:
evaluate_classifier(dt_grid_search, X_train, y_train, X_test, y_test)

In [ ]:
dt_grid_search.best_params_

## Boosting Ensemble Methods

### AdaBoost

In [ ]:
from sklearn.ensemble import AdaBoostClassifier

In [ ]:
ab_clf = AdaBoostClassifier()

In [ ]:
evaluate_classifier(ab_clf, X_train, y_train, X_test, y_test)

### GradientBoosting

In [ ]:
from sklearn.ensemble import GradientBoostingClassifier

In [ ]:
gb_clf = GradientBoostingClassifier()

In [ ]:
evaluate_classifier(gb_clf, X_train, y_train, X_test, y_test)

### XGBoost - unscaled

In [ ]:
from xgboost import XGBClassifier

In [ ]:
xgb_clf = XGBClassifier()

In [ ]:
evaluate_classifier(xgb_clf, X_train, y_train, X_test, y_test)

### XGBoost - scaled

In [ ]:
evaluate_classifier(xgb_clf, X_train_scaled, y_train, X_test_scaled, y_test)

# Caveats

- This model is not intended to predict diabetes in children under 18 or pregnant women

# Notes to self

In [ ]:
# contin_feats = []
# cat_feats = []

# for col in X.columns:
#     if type(X[col].values[0]) == str:
#         cat_feats.append(col)
#     else:
#         contin_feats.append(col)
        
# print(contin_feats)
# print('_____'*10)
# print(cat_feats)

### Blood Pressure

https://wwwn.cdc.gov/Nchs/Nhanes/2017-2018/BPXO_J.htm

Blood pressure measures used in this analysis were taken using a digital upper-arm electronic blood pressure measurement device. 3 measurements were taken 60 seconds apart after the individual had been resting quietly in a seated position for 5 minutes. For the purposes of this analysis, I have calculated the average systolic and average diastolic measurements across the 3 readings.

In [ ]:
# bp

In [ ]:
# bp.columns

In [ ]:
# keepcols_bp = ['BPXOSY1', 'BPXODI1', 'BPXOSY2', 'BPXODI2', 'BPXOSY3', 
#                'BPXODI3', 'BPXOPLS1', 'BPXOPLS2', 'BPXOPLS3']

# mapper_bp = {'BPXOSY1': 'sys_1', 
#           'BPXODI1': 'dias_1',
#           'BPXOSY2': 'sys_2',
#           'BPXODI2': 'dias_2',
#           'BPXOSY3': 'sys_3',
#           'BPXODI3': 'dias_3',
#           'BPXOPLS1': 'pulse_1',
#           'BPXOPLS2': 'pulse_2',
#           'BPXOPLS3': 'pulse_3'}

In [ ]:
# keep_bp = bp[keepcols_bp]
# keep_bp.rename(mapper=mapper_bp, axis=1, inplace=True)
# keep_bp

In [ ]:
# keep_bp['avg_systolic'] = ((keep_bp['sys_1'] + keep_bp['sys_2'] + keep_bp['sys_3']) / 3).round(1)
# keep_bp['avg_diastolic'] = ((keep_bp['dias_1'] + keep_bp['dias_2'] + keep_bp['dias_3']) / 3).round(1)
# keep_bp['avg_pulse'] = ((keep_bp['pulse_1'] + keep_bp['pulse_2'] + keep_bp['pulse_3']) / 3).round(1)
# keep_bp

In [ ]:
# keep_bp2 = keep_bp[['avg_systolic', 'avg_diastolic', 'avg_pulse']]
# keep_bp2

### Lab - Cholesterol

https://wwwn.cdc.gov/Nchs/Nhanes/2017-2018/TCHOL_J.htm

https://wwwn.cdc.gov/Nchs/Nhanes/2017-2018/TRIGLY_J.htm

https://wwwn.cdc.gov/Nchs/Nhanes/2017-2018/HDL_J.htm

A complete cholesterol test — also called a lipid panel or lipid profile — is a blood test that can measure the amount of cholesterol and triglycerides in your blood. The blood lipids measurements in NHANES include total cholesterol, high-density lipoprotein cholesterol (HDL-C), low-density lipoproteins cholesterol (LDL-C), and triglycerides. 

* **Total cholesterol** - sum of your blood's cholesterol content
    * Less than 200 mg/dL - desirable
    * 200-239 mg/dL - borderline
    * Greater than 240 mg/dL - high
* **High-density lipoprotein (HDL) cholesterol** - the "good" cholesterol because it helps carry away LDL cholesterol, thus keeping arteries open and your blood flowing more freely.
    * Greater than 60 mg/dL - best
    * 40-59 mg/dL - good
    * Less than 50 (women) or 40 (men) - poor
* **Low-density lipoprotein (LDL) cholesterol** "bad" cholesterol; too much of it in your blood causes the buildup of fatty deposits (plaques) in your arteries (atherosclerosis), which reduces blood flow. These plaques sometimes rupture and can lead to a heart attack or stroke.
    * Less than 100 mg/dL - optimal
    * 100-129 mg/dL - high for those with coronary artery disease 
    * 130-159 mg/dL - borderline
    * Greater than 160 mg/dL - high
    * Greater than 190 mg/dL - very high
* **Triglycerides** - a type of fat in the blood created from calories your body doesn't need. High triglyceride levels are associated with several factors, including being overweight, eating too many sweets or drinking too much alcohol, smoking, being sedentary, or having diabetes with elevated blood sugar levels.
    * Less than 150 mg/dL - desirable
    * 150-199 mg/dL - borderline
    * 200-499 mg/dL - high
    * Greater than 500 mg/dL - very high

https://www.mayoclinic.org/tests-procedures/cholesterol-test/about/pac-20384601

In [ ]:
# chol_total = chol_total.drop(columns='LBDTCSI').rename(mapper={'LBXTC': 'cholesterol_total'}, axis=1)
# chol_total

In [ ]:
# chol_hdl = chol_hdl.drop(columns='LBDHDDSI').rename(mapper={'LBDHDD': 'cholesterol_hdl'}, axis=1)
# chol_hdl

In [ ]:
# chol_ldl

In [ ]:
# chol_ldl.describe().round(1)

In [ ]:
# chol_ldl.columns

In [ ]:
# keepcols_chol_ldl = ['LBXTR', 'LBDLDL']
# mapper_chol_ldl = {'LBXTR': 'triglyceride', 'LBDLDL': 'cholesterol_ldl'}

In [ ]:
# keep_chol_ldl = chol_ldl[keepcols_chol_ldl].rename(mapper=mapper_chol_ldl, axis=1)
# keep_chol_ldl

In [ ]:
# chol1 = pd.merge(keep_chol_ldl, chol_hdl, how='outer', on='SEQN')
# chol1

In [ ]:
# cholesterol = pd.merge(chol1, chol_total, how='outer', on='SEQN')
# cholesterol

### Lab - Insulin

In [ ]:
# insulin

In [ ]:
# keep_insulin = pd.DataFrame(insulin['LBXIN'])
# keep_insulin.rename(mapper={'LBXIN': 'insulin'}, axis=1, inplace=True)

In [ ]:
# keep_insulin