# OPTION 1: Predicting Diabetes

Per [the Mayo Clinic](https://www.mayoclinic.org/diseases-conditions/diabetes/diagnosis-treatment/drc-20371451#:~:text=A%20fasting%20blood%20sugar%20level,separate%20tests%2C%20you%20have%20diabetes.), the Glycated Hemoglobin (A1C) test indicates a person's average blood sugar level for the past two to three months. It measures the percentage of blood sugar attached to hemoglobin, the oxygen-carrying protein in red blood cells. This test is a blood test which does not require fasting.

The higher your blood sugar levels, the more hemoglobin you'll have with sugar attached. 
* A1C level of 6.5% or higher on two separate tests indicates that you have diabetes
* A1C between 5.7 and 6.4 % indicates prediabetes
* A1C below 5.7 is considered normal

# OPTION 2: Predicting Insurance Coverage

# Divider

In [42]:
import pandas as pd
pd.set_option('display.max_columns', 0)
import numpy as np

# styling notebook
from IPython.core.display import HTML
def css_styling():
    styles = open("./styles/custom.css", "r").read()
    return HTML(styles)
css_styling()

## Data Source

### National Health and Nutrition Examination Survey (NHANES)

The [National Health and Nutrition Examination Survey (NHANES)](https://www.cdc.gov/nchs/nhanes/about_nhanes.htm) is a program of continuous studies designed to assess the health and nutritional status of adults and children in the United States. The survey examines a nationally representative sample of about 5,000 persons located across the country each year. The survey is unique in that it combines interviews and physical examinations. The NHANES interview includes demographic, socioeconomic, dietary, and health-related questions. The examination component consists of medical, dental, and physiological measurements, as well as laboratory tests administered by highly trained medical personnel.

NHANES is a major program of the National Center for Health Statistics (NCHS). NCHS is part of the Centers for Disease Control and Prevention (CDC) and has the responsibility for producing vital and health statistics for the Nation.

### Subset for Predicting Diabetes

While NHANES collects a wealth of demographic, laboratory, and medical data, this analysis and predictive model uses a subset comprised of:

* Demographics - collected by trained interviewers using Computer-Assisted Personal Interview (CAPI) system in either English or Spanish, sometimes with assistance from an interpreter. Individuals 16 years and older and emancipated minors were interviewed directly; a proxy provided information for survey participants who were under 16 and for participants who could not answer the questions themselves.

* Body Measures - measured by trained health technicians in the Mobile Examination Center (MEC). 

* Smoking Survey

* Physical Activity Survey

* Blood Pressure

* Total Cholesterol

* A1C

* Insulin

In [43]:
demographic = pd.read_sas('./data/NHANES2017-2018_demographic.xpt')
activity = pd.read_sas('./data/NHANES2017-2018_physical_activity.xpt')
smoking = pd.read_sas('./data/NHANES2017-2018_smoking.xpt')

a1c = pd.read_sas('./data/NHANES2017-2018_a1c.xpt')
bp = pd.read_sas('./data/NHANES2017-2018_blood_pressure_oscillometric.xpt')
chol = pd.read_sas('./data/NHANES2017-2018_total_cholesterol.xpt')
insulin = pd.read_sas('./data/NHANES2017-2018_insulin.xpt')
measures = pd.read_sas('./data/NHANES2017-2018_body_measures.xpt')
insurance = pd.read_sas('./data/NHANES2017-2018_insurance.xpt')

In [44]:
measures

          SEQN  BMDSTATS  BMXWT  BMIWT  ...  BMXWAIST  BMIWAIST  BMXHIP  BMIHIP
0      93703.0       1.0   13.7    3.0  ...      48.2       NaN     NaN     NaN
1      93704.0       1.0   13.9    NaN  ...      50.0       NaN     NaN     NaN
2      93705.0       1.0   79.5    NaN  ...     101.8       NaN   110.0     NaN
3      93706.0       1.0   66.3    NaN  ...      79.3       NaN    94.4     NaN
4      93707.0       1.0   45.4    NaN  ...      64.1       NaN    83.0     NaN
...        ...       ...    ...    ...  ...       ...       ...     ...     ...
8699  102952.0       1.0   49.0    NaN  ...      82.2       NaN    87.3     NaN
8700  102953.0       1.0   97.4    NaN  ...     114.8       NaN   112.8     NaN
8701  102954.0       1.0   69.1    NaN  ...      86.4       NaN   102.7     NaN
8702  102955.0       1.0  111.9    NaN  ...     113.5       NaN   128.3     NaN
8703  102956.0       1.0  111.5    NaN  ...     122.0       NaN   110.0     NaN

[8704 rows x 21 columns]

In [45]:
data = [demographic, a1c, bp, measures, insulin, activity, chol, smoking, insurance]

In [46]:
for f in data[:-1]:
    f.SEQN = f.SEQN.map(lambda x: int(x))
    f.set_index('SEQN', inplace=True)
    display(f.info())
    print('_____'*20)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9254 entries, 93703 to 102956
Data columns (total 45 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   SDDSRVYR  9254 non-null   float64
 1   RIDSTATR  9254 non-null   float64
 2   RIAGENDR  9254 non-null   float64
 3   RIDAGEYR  9254 non-null   float64
 4   RIDAGEMN  597 non-null    float64
 5   RIDRETH1  9254 non-null   float64
 6   RIDRETH3  9254 non-null   float64
 7   RIDEXMON  8704 non-null   float64
 8   RIDEXAGM  3433 non-null   float64
 9   DMQMILIZ  6004 non-null   float64
 10  DMQADFC   561 non-null    float64
 11  DMDBORN4  9254 non-null   float64
 12  DMDCITZN  9251 non-null   float64
 13  DMDYRSUS  1948 non-null   float64
 14  DMDEDUC3  2306 non-null   float64
 15  DMDEDUC2  5569 non-null   float64
 16  DMDMARTL  5569 non-null   float64
 17  RIDEXPRG  1110 non-null   float64
 18  SIALANG   9254 non-null   float64
 19  SIAPROXY  9254 non-null   float64
 20  SIAINTRP  9254 non-null   float64
 21  FIALANG   8780 non-null   float64
 22  FIAPROXY  8780 non-null   float64
 23  FIAINTRP  8780 non-null   float64
 24  MIALANG   6684 non-null   float64
 25  MIAPROXY  6684 non-null   float64
 26  MIAINTRP  6684 non-null   float64
 27  AIALANGA  4977 non-null   float64
 28  DMDHHSIZ  9254 non-null   float64
 29  DMDFMSIZ  9254 non-null   float64
 30  DMDHHSZA  9254 non-null   float64
 31  DMDHHSZB  9254 non-null   float64
 32  DMDHHSZE  9254 non-null   float64
 33  DMDHRGND  9254 non-null   float64
 34  DMDHRAGZ  9254 non-null   float64
 35  DMDHREDZ  8764 non-null   float64
 36  DMDHRMAZ  9063 non-null   float64
 37  DMDHSEDZ  4751 non-null   float64
 38  WTINT2YR  9254 non-null   float64
 39  WTMEC2YR  9254 non-null   float64
 40  SDMVPSU   9254 non-null   float64
 41  SDMVSTRA  9254 non-null   float64
 42  INDHHIN2  8763 non-null   float64
 43  INDFMIN2  8780 non-null   float64
 44  INDFMPIR  8023 non-null   float64
dtypes: float64(45)
memory usage: 3.2 MB

None

____________________________________________________________________________________________________
<class 'pandas.core.frame.DataFrame'>
Int64Index: 6401 entries, 93705 to 102956
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   LBXGH   6045 non-null   float64
dtypes: float64(1)
memory usage: 100.0 KB

None

____________________________________________________________________________________________________
<class 'pandas.core.frame.DataFrame'>
Int64Index: 7132 entries, 93705 to 102956
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   BPAOARM   7132 non-null   object
 1   BPAOCSZ   6144 non-null   float64
 2   BPAOMNTS  6144 non-null   float64
 3   BPXOSY1   6143 non-null   float64
 4   BPXODI1   6143 non-null   float64
 5   BPXOSY2   6123 non-null   float64
 6   BPXODI2   6123 non-null   float64
 7   BPXOSY3   6094 non-null   float64
 8   BPXODI3   6094 non-null   float64
 9   BPXOPLS1  5262 non-null   float64
 10  BPXOPLS2  5244 non-null   float64
 11  BPXOPLS3  5220 non-null   float64
dtypes: float64(11), object(1)
memory usage: 724.3+ KB

None

____________________________________________________________________________________________________
<class 'pandas.core.frame.DataFrame'>
Int64Index: 8704 entries, 93703 to 102956
Data columns (total 20 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   BMDSTATS  8704 non-null   float64
 1   BMXWT     8580 non-null   float64
 2   BMIWT     416 non-null    float64
 3   BMXRECUM  894 non-null    float64
 4   BMIRECUM  24 non-null     float64
 5   BMXHEAD   194 non-null    float64
 6   BMIHEAD   0 non-null      float64
 7   BMXHT     8016 non-null   float64
 8   BMIHT     99 non-null     float64
 9   BMXBMI    8005 non-null   float64
 10  BMXLEG    6703 non-null   float64
 11  BMILEG    334 non-null    float64
 12  BMXARML   8177 non-null   float64
 13  BMIARML   347 non-null    float64
 14  BMXARMC   8173 non-null   float64
 15  BMIARMC   350 non-null    float64
 16  BMXWAIST  7601 non-null   float64
 17  BMIWAIST  437 non-null    float64
 18  BMXHIP    6039 non-null   float64
 19  BMIHIP    270 non-null    float64
dtypes: float64(20)
memory usage: 1.4 MB

None

____________________________________________________________________________________________________
<class 'pandas.core.frame.DataFrame'>
Int64Index: 3036 entries, 93708 to 102956
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   WTSAF2YR  3036 non-null   float64
 1   LBXIN     2825 non-null   float64
 2   LBDINSI   2825 non-null   float64
 3   LBDINLC   2825 non-null   float64
dtypes: float64(4)
memory usage: 118.6 KB

None

____________________________________________________________________________________________________
<class 'pandas.core.frame.DataFrame'>
Int64Index: 5856 entries, 93705 to 102956
Data columns (total 16 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   PAQ605  5856 non-null   float64
 1   PAQ610  1389 non-null   float64
 2   PAD615  1381 non-null   float64
 3   PAQ620  5856 non-null   float64
 4   PAQ625  2439 non-null   float64
 5   PAD630  2426 non-null   float64
 6   PAQ635  5856 non-null   float64
 7   PAQ640  1439 non-null   float64
 8   PAD645  1430 non-null   float64
 9   PAQ650  5856 non-null   float64
 10  PAQ655  1434 non-null   float64
 11  PAD660  1431 non-null   float64
 12  PAQ665  5856 non-null   float64
 13  PAQ670  2308 non-null   float64
 14  PAD675  2301 non-null   float64
 15  PAD680  5846 non-null   float64
dtypes: float64(16)
memory usage: 777.8 KB

None

____________________________________________________________________________________________________
<class 'pandas.core.frame.DataFrame'>
Int64Index: 7435 entries, 93705 to 102956
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   LBXTC    6738 non-null   float64
 1   LBDTCSI  6738 non-null   float64
dtypes: float64(2)
memory usage: 174.3 KB

None

____________________________________________________________________________________________________
<class 'pandas.core.frame.DataFrame'>
Int64Index: 6724 entries, 93705 to 102956
Data columns (total 36 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   SMQ020    5856 non-null   float64
 1   SMD030    2359 non-null   float64
 2   SMQ040    2359 non-null   float64
 3   SMQ050Q   1338 non-null   float64
 4   SMQ050U   1255 non-null   float64
 5   SMD057    1338 non-null   float64
 6   SMQ078    793 non-null    float64
 7   SMD641    1063 non-null   float64
 8   SMD650    1022 non-null   float64
 9   SMD093    1021 non-null   float64
 10  SMDUPCA   6724 non-null   object
 11  SMD100BR  6724 non-null   object
 12  SMD100FL  929 non-null    float64
 13  SMD100MN  929 non-null    float64
 14  SMD100LN  929 non-null    float64
 15  SMD100TR  695 non-null    float64
 16  SMD100NI  695 non-null    float64
 17  SMD100CO  695 non-null    float64
 18  SMQ621    821 non-null    float64
 19  SMD630    42 non-null     float64
 20  SMQ661    14 non-null     float64
 21  SMQ665A   3 non-null      float64
 22  SMQ665B   1 non-null      float64
 23  SMQ665C   4 non-null      float64
 24  SMQ665D   2 non-null      float64
 25  SMQ670    1035 non-null   float64
 26  SMQ848    528 non-null    float64
 27  SMQ852Q   522 non-null    float64
 28  SMQ852U   519 non-null    float64
 29  SMQ890    5856 non-null   float64
 30  SMQ895    2095 non-null   float64
 31  SMQ900    5856 non-null   float64
 32  SMQ905    1150 non-null   float64
 33  SMQ910    5856 non-null   float64
 34  SMQ915    861 non-null    float64
 35  SMAQUEX2  6724 non-null   float64
dtypes: float64(34), object(2)
memory usage: 1.9+ MB

None

____________________________________________________________________________________________________

In [47]:
insurance.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9254 entries, 0 to 9253
Data columns (total 16 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   SEQN      9254 non-null   float64
 1   HIQ011    9254 non-null   float64
 2   HIQ031A   4254 non-null   float64
 3   HIQ031B   1582 non-null   float64
 4   HIQ031C   58 non-null     float64
 5   HIQ031D   2527 non-null   float64
 6   HIQ031E   93 non-null     float64
 7   HIQ031F   295 non-null    float64
 8   HIQ031H   533 non-null    float64
 9   HIQ031I   301 non-null    float64
 10  HIQ031J   708 non-null    float64
 11  HIQ031AA  1 non-null      float64
 12  HIQ260    172 non-null    float64
 13  HIQ105    1141 non-null   float64
 14  HIQ270    8171 non-null   float64
 15  HIQ210    8171 non-null   float64
dtypes: float64(16)
memory usage: 1.1 MB

#### Demographics ([source](https://wwwn.cdc.gov/Nchs/Nhanes/2017-2018/DEMO_J.htm))

Comprised of individual, family, and household-level information.

In [48]:
demographic.describe().round(1)

       SDDSRVYR  RIDSTATR  RIAGENDR  ...  INDHHIN2  INDFMIN2  INDFMPIR
count    9254.0    9254.0    9254.0  ...    8763.0    8780.0    8023.0
mean       10.0       1.9       1.5  ...      12.5      12.2       2.4
std         0.0       0.2       0.5  ...      17.3      17.2       1.6
min        10.0       1.0       1.0  ...       1.0       1.0       0.0
25%        10.0       2.0       1.0  ...       6.0       6.0       1.0
50%        10.0       2.0       2.0  ...       8.0       8.0       1.9
75%        10.0       2.0       2.0  ...      14.0      14.0       3.7
max        10.0       2.0       2.0  ...      99.0      99.0       5.0

[8 rows x 45 columns]

In [49]:
demographic.columns

Index(['SDDSRVYR', 'RIDSTATR', 'RIAGENDR', 'RIDAGEYR', 'RIDAGEMN', 'RIDRETH1',
       'RIDRETH3', 'RIDEXMON', 'RIDEXAGM', 'DMQMILIZ', 'DMQADFC', 'DMDBORN4',
       'DMDCITZN', 'DMDYRSUS', 'DMDEDUC3', 'DMDEDUC2', 'DMDMARTL', 'RIDEXPRG',
       'SIALANG', 'SIAPROXY', 'SIAINTRP', 'FIALANG', 'FIAPROXY', 'FIAINTRP',
       'MIALANG', 'MIAPROXY', 'MIAINTRP', 'AIALANGA', 'DMDHHSIZ', 'DMDFMSIZ',
       'DMDHHSZA', 'DMDHHSZB', 'DMDHHSZE', 'DMDHRGND', 'DMDHRAGZ', 'DMDHREDZ',
       'DMDHRMAZ', 'DMDHSEDZ', 'WTINT2YR', 'WTMEC2YR', 'SDMVPSU', 'SDMVSTRA',
       'INDHHIN2', 'INDFMIN2', 'INDFMPIR'],
      dtype='object')

In [50]:
keepcols_demographic = ['RIAGENDR', 'RIDAGEYR', 'RIDRETH3', 'DMQMILIZ', 'DMDBORN4', 'DMDCITZN',
                    'DMDEDUC2', 'DMDMARTL', 'RIDEXPRG', 'INDHHIN2', 'INDFMIN2', 'INDFMPIR']

In [51]:
keep_demographic = demographic[keepcols_demographic]
keep_demographic.rename(mapper={'RIAGENDR': 'gender',
                                'RIDAGEYR': 'age',
                                'RIDRETH3': 'race',
                                'DMQMILIZ': 'veteran_status',
                                'DMDBORN4': 'country_of_birth',
                                'DMDCITZN': 'citizen_status',
                                'DMDEDUC2': 'education',
                                'DMDMARTL': 'marital_status',
                                'RIDEXPRG': 'pregnancy_status',
                                'INDHHIN2': 'annual_household_income',
                                'INDFMIN2': 'annual_family_income',
                                'INDFMPIR': 'income_poverty_ratio'}, 
                       axis=1, inplace=True)
keep_demographic

/Users/kristincooper/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/pandas/core/frame.py:4296: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

        gender   age  ...  annual_family_income  income_poverty_ratio
SEQN                  ...
93703      2.0   2.0  ...                  15.0                  5.00
93704      1.0   2.0  ...                  15.0                  5.00
93705      2.0  66.0  ...                   3.0                  0.82
93706      1.0  18.0  ...                   NaN                   NaN
93707      1.0  13.0  ...                  10.0                  1.88
...        ...   ...  ...                   ...                   ...
102952     2.0  70.0  ...                   4.0                  0.95
102953     1.0  42.0  ...                  12.0                   NaN
102954     2.0  41.0  ...                  10.0                  1.18
102955     2.0  14.0  ...                   9.0                  2.24
102956     1.0  38.0  ...                   7.0                  1.56

[9254 rows x 12 columns]

In [52]:
keep_demographic.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9254 entries, 93703 to 102956
Data columns (total 12 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   gender                   9254 non-null   float64
 1   age                      9254 non-null   float64
 2   race                     9254 non-null   float64
 3   veteran_status           6004 non-null   float64
 4   country_of_birth         9254 non-null   float64
 5   citizen_status           9251 non-null   float64
 6   education                5569 non-null   float64
 7   marital_status           5569 non-null   float64
 8   pregnancy_status         1110 non-null   float64
 9   annual_household_income  8763 non-null   float64
 10  annual_family_income     8780 non-null   float64
 11  income_poverty_ratio     8023 non-null   float64
dtypes: float64(12)
memory usage: 939.9 KB

Notes:
* Age 
    * Individuals aged 80 and over are topcoded at 80. In NHANES 2017-2018, the weighted mean age for participants 80+ is 85
    * Individuals' ages are reported in months for those 24 months (2 yrs) and younger
* Income-Poverty Ratio - calculated by dividing family (or individual) income by the poverty guidelines specific to the survey year. The value was not computed if the respondent only reported income as < $20,000 or â‰¥ $20,000. If family income was reported as a more detailed category, the midpoint of the range was used to compute the ratio. Values at or above 5.00 were coded as 5.00 or more because of disclosure concerns. The values were not computed if the income data was missing.

#### Health Insurance

[Source](https://wwwn.cdc.gov/Nchs/Nhanes/2017-2018/HIQ_J.htm)

The Health Insurance questionnaire (variable name prefix HIQ) provides respondent-level interview data on insurance coverage, type of insurance coverage, coverage of prescription drugs, and uninsured status during the past 12 months.

In [53]:
insurance

          SEQN  HIQ011  HIQ031A  HIQ031B  ...  HIQ260  HIQ105  HIQ270  HIQ210
0      93703.0     1.0     14.0      NaN  ...     NaN     NaN     1.0     2.0
1      93704.0     1.0     14.0      NaN  ...     NaN     NaN     1.0     2.0
2      93705.0     1.0      NaN     15.0  ...     NaN     1.0     1.0     2.0
3      93706.0     1.0     14.0      NaN  ...     NaN     NaN     1.0     2.0
4      93707.0     1.0      NaN      NaN  ...     NaN     NaN     1.0     2.0
...        ...     ...      ...      ...  ...     ...     ...     ...     ...
9249  102952.0     1.0     14.0     15.0  ...     NaN     1.0     1.0     2.0
9250  102953.0     1.0     14.0      NaN  ...     NaN     NaN     1.0     1.0
9251  102954.0     1.0      NaN      NaN  ...     NaN     NaN     1.0     2.0
9252  102955.0     1.0     14.0      NaN  ...     NaN     NaN     1.0     1.0
9253  102956.0     1.0      NaN      NaN  ...     NaN     NaN     1.0     2.0

[9254 rows x 16 columns]

In [54]:
insurance.columns

Index(['SEQN', 'HIQ011', 'HIQ031A', 'HIQ031B', 'HIQ031C', 'HIQ031D', 'HIQ031E',
       'HIQ031F', 'HIQ031H', 'HIQ031I', 'HIQ031J', 'HIQ031AA', 'HIQ260',
       'HIQ105', 'HIQ270', 'HIQ210'],
      dtype='object')

In [55]:
keepcols_insurance = ['HIQ011', 'HIQ031A', 'HIQ031B', 'HIQ031C', 'HIQ031D', 'HIQ031E',
       'HIQ031F', 'HIQ031H', 'HIQ031I', 'HIQ031J', 'HIQ031AA', 'HIQ270', 'HIQ210']

mapper_insurance = {'HIQ011': 'coverage_status',
          'HIQ031A': 'covered_private',
          'HIQ031B': 'covered_medicare',
          'HIQ031C': 'covered_medigap',
          'HIQ031D': 'covered_medicaid',
          'HIQ031E': 'covered_chip',
          'HIQ031F': 'covered_military',
          'HIQ031H': 'covered_state',
          'HIQ031I': 'covered_other_gov',
          'HIQ031J': 'covered_single_service',
          'HIQ031AA': 'not_covered',
          'HIQ270': 'prescription_coverage',
          'HIQ210': 'uninsured_in_last_year'}

In [56]:
keep_insurance = insurance[keepcols_insurance]
keep_insurance.rename(mapper=mapper_insurance, axis=1, inplace=True)
keep_insurance

/Users/kristincooper/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/pandas/core/frame.py:4296: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

      coverage_status  ...  uninsured_in_last_year
0                 1.0  ...                     2.0
1                 1.0  ...                     2.0
2                 1.0  ...                     2.0
3                 1.0  ...                     2.0
4                 1.0  ...                     2.0
...               ...  ...                     ...
9249              1.0  ...                     2.0
9250              1.0  ...                     1.0
9251              1.0  ...                     2.0
9252              1.0  ...                     1.0
9253              1.0  ...                     2.0

[9254 rows x 13 columns]

In [57]:
display(keep_insurance.coverage_status.value_counts())
display(keep_insurance.coverage_status.value_counts(normalize=True))

1.0    8157
2.0    1072
9.0      18
7.0       7
Name: coverage_status, dtype: int64

1.0    0.881457
2.0    0.115842
9.0    0.001945
7.0    0.000756
Name: coverage_status, dtype: float64

In [58]:
display(keep_insurance.uninsured_in_last_year.value_counts())
display(keep_insurance.uninsured_in_last_year.value_counts(normalize=True))

2.0    7591
1.0     561
9.0      18
7.0       1
Name: uninsured_in_last_year, dtype: int64

2.0    0.929017
1.0    0.068657
9.0    0.002203
7.0    0.000122
Name: uninsured_in_last_year, dtype: float64

Coverage status values:
* 1.0 - Yes
* 2.0 - No
* 7.0 - Refused
* 9.0 - Don't know

#### Body Measures

https://wwwn.cdc.gov/Nchs/Nhanes/2017-2018/BMX_J.htm

NHANES body measures data are used to monitor trends in infant and child growth, to estimate the prevalence of overweight and obesity in U.S. children, adolescents, and adults, and to examine the associations between body weight and the health and nutritional status of the U.S. population.

All survey participants were eligible for the body measures component. There were no medical, safety, or other exclusions for the body measurements protocol. The health technicians used their discretion to obtain as many measures as practical for persons who used a wheelchair.

In [59]:
measures

        BMDSTATS  BMXWT  BMIWT  BMXRECUM  ...  BMXWAIST  BMIWAIST  BMXHIP  BMIHIP
SEQN                                      ...
93703        1.0   13.7    3.0      89.6  ...      48.2       NaN     NaN     NaN
93704        1.0   13.9    NaN      95.0  ...      50.0       NaN     NaN     NaN
93705        1.0   79.5    NaN       NaN  ...     101.8       NaN   110.0     NaN
93706        1.0   66.3    NaN       NaN  ...      79.3       NaN    94.4     NaN
93707        1.0   45.4    NaN       NaN  ...      64.1       NaN    83.0     NaN
...          ...    ...    ...       ...  ...       ...       ...     ...     ...
102952       1.0   49.0    NaN       NaN  ...      82.2       NaN    87.3     NaN
102953       1.0   97.4    NaN       NaN  ...     114.8       NaN   112.8     NaN
102954       1.0   69.1    NaN       NaN  ...      86.4       NaN   102.7     NaN
102955       1.0  111.9    NaN       NaN  ...     113.5       NaN   128.3     NaN
102956       1.0  111.5    NaN       NaN  ...     122.0       NaN   110.0     NaN

[8704 rows x 20 columns]

In [60]:
measures.columns

Index(['BMDSTATS', 'BMXWT', 'BMIWT', 'BMXRECUM', 'BMIRECUM', 'BMXHEAD',
       'BMIHEAD', 'BMXHT', 'BMIHT', 'BMXBMI', 'BMXLEG', 'BMILEG', 'BMXARML',
       'BMIARML', 'BMXARMC', 'BMIARMC', 'BMXWAIST', 'BMIWAIST', 'BMXHIP',
       'BMIHIP'],
      dtype='object')

In [67]:
keepcols_measures = ['BMXWT', 'BMXHT', 'BMXBMI', 'BMXWAIST', 'BMXHIP']

In [68]:
keep_measures = measures[keepcols_measures]
keep_measures.rename(mapper={'BMXWT': 'weight_kg', 
                             'BMXHT': 'height_cm',
                             'BMXBMI': 'BMI',
                             'BMXWAIST': 'waist_circumference_cm',
                             'BMXHIP': 'hip_circumference_cm'},
                    axis=1, inplace=True)
keep_measures

/Users/kristincooper/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/pandas/core/frame.py:4296: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

        weight_kg  height_cm  ...  waist_circumference_cm  hip_circumference_cm
SEQN                          ...
93703        13.7       88.6  ...                    48.2                   NaN
93704        13.9       94.2  ...                    50.0                   NaN
93705        79.5      158.3  ...                   101.8                 110.0
93706        66.3      175.7  ...                    79.3                  94.4
93707        45.4      158.4  ...                    64.1                  83.0
...           ...        ...  ...                     ...                   ...
102952       49.0      156.5  ...                    82.2                  87.3
102953       97.4      164.9  ...                   114.8                 112.8
102954       69.1      162.6  ...                    86.4                 102.7
102955      111.9      156.6  ...                   113.5                 128.3
102956      111.5      175.8  ...                   122.0                 110.0

[8704 rows x 5 columns]

#### Blood Pressure

https://wwwn.cdc.gov/Nchs/Nhanes/2017-2018/BPXO_J.htm

Blood pressure measures used in this analysis were taken using a digital upper-arm electronic blood pressure measurement device. 3 measurements were taken 60 seconds apart after the individual had been resting quietly in a seated position for 5 minutes. For the purposes of this analysis, I have calculated the average systolic and average diastolic measurements across the 3 readings.

In [70]:
bp

       BPAOARM  BPAOCSZ  BPAOMNTS  ...  BPXOPLS1  BPXOPLS2  BPXOPLS3
SEQN                               ...
93705     b'R'      4.0     -20.0  ...      52.0      51.0      49.0
93706     b'R'      3.0     138.0  ...      76.0      83.0      73.0
93707     b'R'      2.0      12.0  ...     100.0      89.0      91.0
93708     b'R'      3.0      22.0  ...      67.0      65.0      71.0
93709     b'R'      4.0      58.0  ...      64.0      62.0      61.0
...        ...      ...       ...  ...       ...       ...       ...
102952    b'R'      3.0      97.0  ...      88.0      84.0      74.0
102953    b'R'      4.0     -57.0  ...      76.0      79.0      78.0
102954     b''      3.0    -101.0  ...       NaN       NaN       NaN
102955    b'R'      5.0     -88.0  ...      71.0      71.0      76.0
102956    b'R'      4.0      30.0  ...      72.0      74.0      75.0

[7132 rows x 12 columns]

In [72]:
bp.columns

Index(['BPAOARM', 'BPAOCSZ', 'BPAOMNTS', 'BPXOSY1', 'BPXODI1', 'BPXOSY2',
       'BPXODI2', 'BPXOSY3', 'BPXODI3', 'BPXOPLS1', 'BPXOPLS2', 'BPXOPLS3'],
      dtype='object')

In [78]:
keepcols_bp = ['BPXOSY1', 'BPXODI1', 'BPXOSY2', 'BPXODI2', 'BPXOSY3', 
               'BPXODI3', 'BPXOPLS1', 'BPXOPLS2', 'BPXOPLS3']

mapper_bp = {'BPXOSY1': 'sys_1', 
          'BPXODI1': 'dias_1',
          'BPXOSY2': 'sys_2',
          'BPXODI2': 'dias_2',
          'BPXOSY3': 'sys_3',
          'BPXODI3': 'dias_3',
          'BPXOPLS1': 'pulse_1',
          'BPXOPLS2': 'pulse_2',
          'BPXOPLS3': 'pulse_3'}

In [79]:
keep_bp = bp[keepcols_bp]
keep_bp.rename(mapper=mapper_bp, axis=1, inplace=True)
keep_bp

/Users/kristincooper/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/pandas/core/frame.py:4296: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

        sys_1  dias_1  sys_2  dias_2  sys_3  dias_3  pulse_1  pulse_2  pulse_3
SEQN
93705   164.0    66.0  165.0    66.0  172.0    66.0     52.0     51.0     49.0
93706   126.0    74.0  128.0    68.0  133.0    71.0     76.0     83.0     73.0
93707   136.0    71.0  133.0    72.0  139.0    71.0    100.0     89.0     91.0
93708   146.0    82.0  142.0    76.0  151.0    81.0     67.0     65.0     71.0
93709   120.0    83.0  124.0    81.0  113.0    74.0     64.0     62.0     61.0
...       ...     ...    ...     ...    ...     ...      ...      ...      ...
102952  154.0    92.0  144.0    84.0  145.0    69.0     88.0     84.0     74.0
102953  135.0    91.0  133.0    86.0  132.0    83.0     76.0     79.0     78.0
102954  123.0    75.0  119.0    71.0  122.0    73.0      NaN      NaN      NaN
102955   92.0    64.0   97.0    64.0   94.0    63.0     71.0     71.0     76.0
102956  143.0   100.0  146.0   101.0  145.0   103.0     72.0     74.0     75.0

[7132 rows x 9 columns]

#### Lab - A1C

In [85]:
a1c

        LBXGH
SEQN
93705     6.2
93706     5.2
93707     5.6
93708     6.2
93709     6.3
...       ...
102952    7.4
102953    5.9
102954    5.2
102955    5.5
102956    5.4

[6401 rows x 1 columns]

In [86]:
a1c.rename(mapper={'LBXGH': 'glycohemoglobin'}, axis=1, inplace=True)

In [87]:
def diagnose(a1c_value):
    diagnosis = None
    if a1c_value >= 6.5:
        diagnosis = 'Diabetic'
    if (a1c_value >= 5.7) & (a1c_value < 6.5):
        diagnosis = 'Prediabetic'
    if a1c_value < 5.7:
        diagnosis = 'Normal'
    return diagnosis

In [88]:
a1c['calculated_diagnosis'] = a1c.glycohemoglobin.map(lambda x: diagnose(x))
a1c

        glycohemoglobin calculated_diagnosis
SEQN
93705               6.2          Prediabetic
93706               5.2               Normal
93707               5.6               Normal
93708               6.2          Prediabetic
93709               6.3          Prediabetic
...                 ...                  ...
102952              7.4             Diabetic
102953              5.9          Prediabetic
102954              5.2               Normal
102955              5.5               Normal
102956              5.4               Normal

[6401 rows x 2 columns]

In [89]:
display(a1c.calculated_diagnosis.value_counts())
display(a1c.calculated_diagnosis.value_counts(normalize=True).round(2))

Normal         3659
Prediabetic    1635
Diabetic        751
Name: calculated_diagnosis, dtype: int64

Normal         0.61
Prediabetic    0.27
Diabetic       0.12
Name: calculated_diagnosis, dtype: float64

#### Lab - Cholesterol

#### Lab - Insulin

#### Survey - Physical Activity

#### Survey - Smoking

## Preprocessing

NOTES TO SELF:
* Focus on adults; remove ages below 18 from dataset
* Remove pregnant women from dataset as their measurements may be skewed

In [ ]:
# merge dataframes